<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inscription.component.css">
    <title>Document</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative">
        <div style="width: 59%; height: 894px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <div style="width: 50%; height: 894px; left: 58%; top: 0px; position: absolute; background: #E91F23"></div>
        <div style="width: 90%; height: 640px; left: 281px; top: 127px; position: absolute; background: white; box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25); border: 1px #141414 solid"></div>
        <div style="width: 684px; height: 101px; left: 1013px; top: 271px; position: absolute">
            <div style="width: 684px; height: 65px; left: 0px; top: 0px; position: absolute; background: white; border: 1px #E91F23 solid"></div>
            <div style="left: 43px; top: 30px; position: absolute; color: #1B2728; font-size: 25px; font-family: Manrope; font-weight: 500; word-wrap: break-word">Email</div>
        </div>
        <div style="width: 684px; height: 65px; left: 1013px; top: 393px; position: absolute">
            <div style="width: 684px; height: 65px; left: 0px; top: 0px; position: absolute; background: white; border: 1px #E91F23 solid"></div>
            <div style="left: 43px; top: 18px; position: absolute; color: #1B2728; font-size: 25px; font-family: Manrope; font-weight: 500; word-wrap: break-word">Numéro</div>
        </div>
        <div style="width: 684px; height: 65px; left: 1013px; top: 145px; position: absolute">
            <div style="width: 684px; height: 65px; left: 0px; top: 0px; position: absolute; background: white; border: 1px #E91F23 solid"></div>
            <div style="left: 43px; top: 18px; position: absolute; color: #1B2728; font-size: 25px; font-family: Manrope; font-weight: 500; word-wrap: break-word">Nom</div>
        </div>
        <div style="width: 705px; height: 65px; left: 1013px; top: 518px; position: absolute">
            <div style="width: 705px; height: 65px; left: 0px; top: 0px; position: absolute; background: white; border: 1px #E91F23 solid"></div>
            <div style="left: 39px; top: 10px; position: absolute; color: #1B2728; font-size: 25px; font-family: Manrope; font-weight: 500; word-wrap: break-word">Mot de passe</div>
        </div>
        <div style="width: 701px; height: 65px; left: 1013px; top: 641px; position: absolute">
            <div style="width: 701px; height: 65px; left: 0px; top: 0px; position: absolute; background: black; border: 1px black solid"></div>
            <div style="left: 219px; top: 18px; position: absolute; color: white; font-size: 25px; font-family: Manrope; font-weight: 500; word-wrap: break-word">S’inscrire</div>
        </div>
        <img style="width: 783px; height: 640px; left: 183px; top: 127px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%)" src="https://s3-alpha-sig.figma.com/img/a035/2ee8/14c241dcad7ab9ffd82d7e66429ebde2?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RkfiILE6CoorTraCGVxFXu4MBbQnva4bdgrKMbu3VUtxmshv7wDfrP7IWlJL71V3wd7huctEj3wUGnpM-UkgNGPhXtgSdsIjjLGtILxJQ0mgR6rtqOuIl3rqX2vg1xhuvQz3YRRnVNEL8Th4wR3VAOKbZdMWgdPqtj9il5EtwzdzWGM4qaq-k5WUvIFXiCK5u0xp-uJ5N7ZwDAdBDCVOs8BCGUOvFp4VpIJs3mF0DxI9iimBHMZRrQNInNzD8yFr6A0ylwoeeT8wy0Ca0tcBouR9o~kvyjlgm1O79N9sMvh~VsTwgQNzpNDoTjEhaDfg7U2xhCUGJSOhHS4tlvq7dQ__" />
    </div>
</body>
</html> -->