input, textarea{
    border-bottom: 2px solid #60b8c4;
}
.btnAjout{
    background-color: #60b8c4;
    color: white;
    font-weight: bold;
}
.btnClose{
    outline: 1px solid #60b8c4;
    color: #60b8c4;
    font-weight: bold;
}
.logo{
    height: 200px;
}

#boutontogg{
    margin-left: 16%;
}
.container .mesCartes{
    margin: 0 auto;
}
#carteProjet{
    height: 45vh;
    border-radius: 0;
    padding: 0;
    margin: o;
}
.consulter{
    font-size: 12px;
}
.titre{
    font-size: 16px;
}
.datepub{
    margin-top: -7%;
}
.isactive{
    background-color: white;
    color: #60b8c4 !important;
    border-top-right-radius:50px ;
    border-bottom-right-radius:50px ;
    width: 92%;
}
.navbar{
    margin-left: 15%;
    background-color: #60b8c4;
}

.navbar-brand-wrapper{
    background-color: #60b8c4;
  border: 5px solid #60b8c4;
  margin-left: -17.5%;
  width: 130px;

}
.menuside{
    font-size: 17px !important;
}
@media (max-width:565px){
    .mesCartes .card{
        width: 100% !important;
        height: 500px !important;
    }
}
@media (min-width: 567px) and (max-width:755px){
    .mesCartes{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
}


