<!-- <p>hearder-footer works!</p> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hearder-footer.component.css">
    <title>Hearder</title>
</head>
<body>
    <!-- Section header -->
    <div style="width: 100%; height: 100%; position: relative">
      <div style="width: 1728px; height: 79px; left: 0px; top: 0px; position: absolute; background: #CE0033"></div>
      <div style="width: 1076px; height: 50px; left: 542px; top: 14px; position: absolute">
      <img style="width: 58px; height: 50px; left: 841px; top: 0px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/e81e/bb52/8046ca96f7ede643d4afb63eca6ca11d?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UrbcLL-gX8aMaxpm3DU6FEzGG36tIIKfxI-VrsiXl49oKI0qua3TJSIvspFuDz9CiehD0jhFKnk3t4JL-l3PdGh5qwdWQYcIPrgzbLK7kA-aamWHpMJpHZIkLnjHduvNx76AYAuO9-jjgG8ihEFPSDhrLDEjpxiaKZUIRoqTKsPelGWbMWAuWPQhBmWjuJ645A-bH7ZHFpvjlPrU6gQY5Zb33P~Erq~t73w5iFczwj-CpBvp9kitoLsXy8-yaglcokCQxld5dZqk9PRVgaYm5xDTdvL3EwZ0aK0sVPpk~Gz1I80r~cO8kx4-J--YdhDOjoou1eIi0mrChrz6Qg4QLQ__" />
      <div style="left: 0px; top: 10px; position: absolute; color: white; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Accueil</div>
      <div style="left: 127px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Service</div>
      <div style="left: 248px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">A propos</div>
      <div style="left: 379px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact</div>
      <div style="left: 504px; top: 11px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">regime</div>
      <div style="left: 914px; top: 12px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mariama sambou</div>
      </div>
      </div>    
     
</body>
</html>




