.btnConnexion{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
}
#navbar{
    background-color: white;
    border-bottom: 0.5px solid white;
}
.navbar-nav .nav-item .nav-link{
    color: black !important;
 
}
.current{
    color: black;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.navbar-nav .nav-item .nav-link:hover{
    color: black;
    text-decoration: underline;
    text-underline-offset: 4px;
}
@media (max-width:990px){
    #navbarText{
        margin-left: 45%;
    }
}
/* footer */
.footer {
    --background-color: #f4f4f4;
    color: white;
    background-color: dark;
    font-size: 14px;
    padding-bottom: 50px;
  }
  
  .footer .footer-top {
    padding-top: 50px;
  }
  
  .footer .footer-about .logo {
    line-height: 0;
    margin-bottom: 25px;
  }
  
  .footer .footer-about .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-about .logo span {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--heading-font);
  }
  
  .footer .footer-about p {
    font-size: 14px;
    font-family: var(--heading-font);
  }

    .social-links{
      margin-top: -85px;
    }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(var(--default-color-rgb), 0.5);
    font-size: 16px;
    color: rgba(var(--default-color-rgb), 0.5);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .footer h4 {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 10px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    font-size: 20px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(var(--default-color-rgb), 0.8);
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: var(--primary-color);
  }
  
  .footer .footer-contact p {
    margin-bottom: 5px;
  }
  
  .footer .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(var(--default-color-rgb), 0.05);
  }
  
  .footer .copyright p {
    margin-bottom: 0;
  }
  
  .footer .credits {
    margin-top: 6px;
    font-size: 13px;
  }
  #image{
    border: solid green;
    width: 300px;
    height: 4000px;
  }
  .newsletter{
    border: none;
    border-bottom: 2px solid #fff;
    background-color: #ffffff6c;
    border-radius: 0;
  }
  .newsletter::placeholder{
    color: #fff;
  }
  .news{
    border-radius: 0;
    background-color: #fff;
    color: #000 !important;
    font-weight: bold;
    width: 65%;
  }
a{
  text-decoration: none;
}
#lienFooter{
  font-size: 18px;
}
