<!-- <p>page-service works!</p> -->
<div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="padding-left: 86px; padding-right: 91px; left: -15%; top: 433px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="width: 30%; height: 2777px; position: relative">
            <div style="width: 603px; left: 457px; top: 0px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Manrope; font-weight: 700; word-wrap: break-word">Les cours disponible</div>
            <img style="width: 900px; height: 600px; left: 20px; top: 168px; position: absolute" src="https://s3-alpha-sig.figma.com/img/2c23/a6ff/5caa6f5763a3d9830b460064619b8d0d?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ENCTVDgSGN5lVrdTfL845UNCWMGWICIdGToPgmTa7wbj2XxSqziYCRnjErCiis19eLJOkt1UtF00BNZoj21tQLg1dGaUX3D3BWHjcSzSDxzxgn5al9-IkCJKRlUNGnVRa9tSY2XJyiQtBbAzsQ1LGyAZek5IY65iVS2NctCaQOEgO-KJ-CXTM6pRZ8v-BJxWw7wfn3z2pTL1KT6IeDqgRk20W1cYEjfXVAh-U7Wyvy54YRSnbDM5dJd3tl5~gq-L-7wirJDfgMLShIh7iGn8uGJl8ytRCPLkJRnvQSjVQQwIS2-k8nvxvlMtlTvJNkPAlwoIxxaL984K94LgyJ9XQQ__" />
            <div style="width: 100px; height: 112.74px; left: 404px; top: 381px; position: absolute">
                <div style="width: 100px; height: 112.74px; left: 0px; top: 0px; position: absolute; background: #E7E6E6"></div>
                <div style="width: 48.68px; height: 53.35px; left: 27.78px; top: 29.70px; position: absolute; border: 1px #111111 solid"></div>
                <div style="width: 100px; height: 112.74px; left: 0px; top: 0px; position: absolute; border: 1px #111111 solid"></div>
            </div>
            <div style="width: 534px; left: 1016px; top: 520.32px; position: absolute; color: #5A5A5A; font-size: 42px; font-family: Open Sans; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
            <div style="width: 534px; left: 1017px; top: 165px; position: absolute; color: #5A5A5A; font-size: 42px; font-family: Open Sans; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam </div>
            <div style="width: 341px; height: 74px; left: 46px; top: 677px; position: absolute">
                <div style="width: 341px; height: 74px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px black solid"></div>
                <div style="width: 255.50px; left: 43.25px; top: 13px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Le Sculpt</div>
            </div>
            <div style="width: 265px; height: 10px; left: 689px; top: 962px; position: absolute; background: #CE0033"></div>
            <div style="width: 265px; height: 10px; left: 689px; top: 1942px; position: absolute; background: #CE0033"></div>
            <div style="width: 534px; left: 997px; top: 1481.32px; position: absolute; color: #5A5A5A; font-size: 42px; font-family: Open Sans; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
            <div style="width: 534px; left: 998px; top: 1126px; position: absolute; color: #5A5A5A; font-size: 42px; font-family: Open Sans; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam </div>
            <img style="width: 916px; height: 600px; left: 0px; top: 1136px; position: absolute" src="https://s3-alpha-sig.figma.com/img/26f3/7a26/047396c7ad246da9fad30046671f9b33?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c5361b2iGPwpstiWgsANlvFCa2AeujL7JC5p-B77xYoo4C6AG555wp7KgXddnSZotIm0PZGl~3~O~qbMXkhdg09j0ykPTX1aBi25ruAgxAAVWwNcjaiyQQQvAvXTjg3TZyQo9IQPwl519bCsTGYMdC~Jutrp2l7J-YqDC1TpLt2dscMoiP~0dC42SUZ~1hmR0jx9yFhrlS02-7XR~BN9Mg1B95jtSAwywSRVTBE~8fdqGMVvgMUYOuevb6~JSM5LZRt16eRZHWRUQ6KCX41tEVYDRhnScPJv6dZmbyBr2rS6jCGCT4MWVMaR128sOIrg5VRANGS9obHnWz-atiYvZA__" />
            <div style="width: 114.50px; height: 129.09px; left: 395px; top: 1366px; position: absolute">
                <div style="width: 114.50px; height: 129.09px; left: 0px; top: 0px; position: absolute; background: #E7E6E6"></div>
                <div style="width: 55.74px; height: 61.09px; left: 31.81px; top: 34px; position: absolute; border: 1px #111111 solid"></div>
                <div style="width: 114.50px; height: 129.09px; left: 0px; top: 0px; position: absolute; border: 1px #111111 solid"></div>
            </div>
            <div style="width: 534px; left: 1016px; top: 2533.32px; position: absolute; color: #5A5A5A; font-size: 42px; font-family: Open Sans; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
            <div style="width: 534px; left: 1017px; top: 2178px; position: absolute; color: #5A5A5A; font-size: 42px; font-family: Open Sans; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam </div>
            <img style="width: 916px; height: 600px; left: 10px; top: 2172px; position: absolute" src="https://s3-alpha-sig.figma.com/img/41d8/3eef/00cfd4db2e56ab93f1b5371919f63f39?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HpJB4NDGtTuxY8Q4Qh-~QlOf9aHwNayWwglSwRX-OVJVbRxSYHOndw7E6X4kEzBk6lUmjhlvt4NPpkr8oFLBnNXM9bB4-EScNto9-KE2FEoCem4Xsynx3SpNGLBMJ1aZVwyjwhwgJZUXFV~iCf0on4h3ZKgFvqnqvyoXhdL8gkiWbWKY7kL6K954I1Dfu6CppUugFEM3ozyzszKux0WDnpmZL9gZUlmXPOPHEI-PziftPjLeBRpxx0G95g8NENO6dnOtc88pprUb4i1nU9pZS8VqtjJ7Av-vdbEV18yFqfl4U7BixcTi9qg9UWB2U4Gg1m2yb4VsopZZdZr10Jww-w__" />
            <div style="width: 119.24px; height: 104.31px; left: 445px; top: 2417.68px; position: absolute">
                <div style="width: 119.24px; height: 104.31px; left: 0px; top: 0px; position: absolute; background: #E7E6E6"></div>
                <div style="width: 58.05px; height: 49.36px; left: 33.12px; top: 27.47px; position: absolute; border: 1px #111111 solid"></div>
                <div style="width: 119.24px; height: 104.31px; left: 0px; top: 0px; position: absolute; border: 1px #111111 solid"></div>
            </div>
            <div style="width: 341px; height: 74px; left: 10px; top: 1675px; position: absolute">
                <div style="width: 341px; height: 74px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px white solid"></div>
                <div style="width: 255.50px; left: 70.25px; top: 13px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mills Pilates</div>
            </div>
            <div style="width: 341px; height: 74px; left: 10px; top: 2703px; position: absolute">
                <div style="width: 341px; height: 74px; left: 0px; top: 0px; position: absolute; background: #CE0033; border-radius: 20px; border: 1px #E91F23 solid"></div>
                <div style="width: 255.50px; left: 70.25px; top: 13px; position: absolute; color: white; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Le Yoga</div>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 183px; left: 0px; top: 3366px; position: absolute">
        <div style="width: 100%; height: 183px; left: 0px; top: 0px; position: absolute; background: black; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 100%; height: 183px; background: black"></div>
        </div>
        <div style="width: 240.30px; left: 80%; top: 48px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Newsletter</div>
        <div style="width: 27px; height: 20px; left: 263.25px; top: 139px; position: absolute">
            <div style="width: 16.20px; height: 12px; left: 5.40px; top: 4px; position: absolute; background: white"></div>
            <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
        </div>
        <div style="width: 27px; height: 20px; left: 317.25px; top: 139px; position: absolute">
            <div style="width: 16.20px; height: 10px; left: 5.40px; top: 4.80px; position: absolute; background: white"></div>
            <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
        </div>
        <div style="width: 27px; height: 20px; left: 371.25px; top: 139px; position: absolute">
            <div style="width: 16.20px; height: 12px; left: 5.40px; top: 4px; position: absolute; background: white"></div>
            <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
        </div>
        <div style="width: 16%; height: 42px; left: 83%; top: 104px; position: absolute; background: #E91F23; border-radius: 20px"></div>
        <div style="left: 85%; top: 113px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">veillez vous inscrire</div>
        <div style="width: 129.60px; height: 15px; left: 635.85px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Acceuil</div>
        <div style="width: 126.90px; height: 25px; left: 638.55px; top: 73px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">regime</div>
        <div style="width: 282.15px; height: 15px; left: 638.55px; top: 112px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Qui Somme Nous</div>
        <div style="left: 1019.25px; top: 110px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact</div>
        <div style="left: 1019.25px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Blog</div>
        <div style="left: 1019.25px; top: 69px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Service</div>
        <div style="left: 144.45px; top: 15px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">About us</div>
        <div style="width: 425.25px; left: 110.70px; top: 67px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 300; word-wrap: break-word">Votre aventure fitness commence aujourd'hui avec. Fit-Together</div>
    </div>
    <div style="width: 100%; height: 79px; left: -12%; top: 4px; position: absolute">
        <div style="width: 100%; height: 79px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div style="width: 1076px; height: 50px; left: 542px; top: 14px; position: absolute">
            <img style="width: 58px; height: 50px; left: 841px; top: 0px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/e81e/bb52/8046ca96f7ede643d4afb63eca6ca11d?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UrbcLL-gX8aMaxpm3DU6FEzGG36tIIKfxI-VrsiXl49oKI0qua3TJSIvspFuDz9CiehD0jhFKnk3t4JL-l3PdGh5qwdWQYcIPrgzbLK7kA-aamWHpMJpHZIkLnjHduvNx76AYAuO9-jjgG8ihEFPSDhrLDEjpxiaKZUIRoqTKsPelGWbMWAuWPQhBmWjuJ645A-bH7ZHFpvjlPrU6gQY5Zb33P~Erq~t73w5iFczwj-CpBvp9kitoLsXy8-yaglcokCQxld5dZqk9PRVgaYm5xDTdvL3EwZ0aK0sVPpk~Gz1I80r~cO8kx4-J--YdhDOjoou1eIi0mrChrz6Qg4QLQ__" />
            <div style="left: 0px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Accueil</div>
            <div style="left: 127px; top: 10px; position: absolute; color: #E91F23; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Service</div>
            <div style="left: 248px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">A propos</div>
            <div style="left: 379px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact</div>
            <div style="left: 504px; top: 11px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">regime</div>
            <div style="left: 914px; top: 12px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mariama sambou</div>
        </div>
    </div>
    <div style="width: 100%; height: 295px; left: 0.12px; top: 81px; position: absolute">
        <div style="width: 100%; height: 295px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <img style="width: 750px; height: 295px; left: 54.88px; top: 0px; position: absolute; border-radius: 20px" src="https://s3-alpha-sig.figma.com/img/2d75/89e2/4b52beeed8deff715330aaefe424fd9e?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZcXo~z0qWgFexMh1H771nebSrXVK7SDoPx0Lg5LdVxWp-a4LneCHE-nMtumKWPcf7qIV5Yk7RZOoPJst3Qgk08aN2MV2oocBJIkmS6~sjgsQdLnAIH9EyX9F2KoYWNrx1Lu0YTLKg8BFf0avQmdcpaCNVb7dH3~MZcY~x0PFg9QVgvXfZgU3a4HcTCZWkl9HWGUjQb7Id0uXp~6GgC6K0D4WJ-CrXc6lBGrdqNGO4naDFdcs3XIhRAmqCuw4HMHK25ZTrVC3xZlDNXaq7mw0lemBTVq-dE8GkWkhYgfHmaN5X8EowN15WOZgHyT9faqJM~ND3LeF0BpWFaMz6CWctA__" />
        <div style="width: 35%; left: 60%; top: 50px; position: absolute; color: white; font-size: 22px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Bienvenue sur notre plateforme Fit-Together, l'espace numérique où la passion pour la remise en forme rencontre la commodité de l'apprentissage en ligne. <br> Chez Fit-Together, nous nous engageons à créer une expérience unique et inspirante qui transcende <br> les frontières physiques pour vous permettre de vivre une vie plus saine, plus active et plus épanouissante.</div>
    </div>
</div>