<!-- <p>page-service works!</p> -->
<div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="padding-left: 86px; padding-right: 91px; left: 6px; top: 433px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="width: 1551px; height: 2777px; position: relative">
            <div style="width: 603px; left: 457px; top: 0px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Manrope; font-weight: 700; word-wrap: break-word">Les cours disponible</div>
            <img style="width: 916.03px; height: 600px; left: 9px; top: 168px; position: absolute" src="https://via.placeholder.com/916x600" />
            <div style="width: 100px; height: 112.74px; left: 404px; top: 381px; position: absolute">
                <div style="width: 100px; height: 112.74px; left: 0px; top: 0px; position: absolute; background: #E7E6E6"></div>
                <div style="width: 48.68px; height: 53.35px; left: 27.78px; top: 29.70px; position: absolute; border: 1px #111111 solid"></div>
                <div style="width: 100px; height: 112.74px; left: 0px; top: 0px; position: absolute; border: 1px #111111 solid"></div>
            </div>
            <div style="width: 534px; left: 1016px; top: 520.32px; position: absolute; color: #5A5A5A; font-size: 42px; font-family: Open Sans; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
            <div style="width: 534px; left: 1017px; top: 165px; position: absolute; color: #5A5A5A; font-size: 42px; font-family: Open Sans; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam </div>
            <div style="width: 341px; height: 74px; left: 46px; top: 677px; position: absolute">
                <div style="width: 341px; height: 74px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px black solid"></div>
                <div style="width: 255.50px; left: 43.25px; top: 13px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Le Sculpt</div>
            </div>
            <div style="width: 265px; height: 10px; left: 689px; top: 962px; position: absolute; background: #CE0033"></div>
            <div style="width: 265px; height: 10px; left: 689px; top: 1942px; position: absolute; background: #CE0033"></div>
            <div style="width: 534px; left: 997px; top: 1481.32px; position: absolute; color: #5A5A5A; font-size: 42px; font-family: Open Sans; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
            <div style="width: 534px; left: 998px; top: 1126px; position: absolute; color: #5A5A5A; font-size: 42px; font-family: Open Sans; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam </div>
            <img style="width: 916px; height: 600px; left: 0px; top: 1136px; position: absolute" src="https://via.placeholder.com/916x600" />
            <div style="width: 114.50px; height: 129.09px; left: 395px; top: 1366px; position: absolute">
                <div style="width: 114.50px; height: 129.09px; left: 0px; top: 0px; position: absolute; background: #E7E6E6"></div>
                <div style="width: 55.74px; height: 61.09px; left: 31.81px; top: 34px; position: absolute; border: 1px #111111 solid"></div>
                <div style="width: 114.50px; height: 129.09px; left: 0px; top: 0px; position: absolute; border: 1px #111111 solid"></div>
            </div>
            <div style="width: 534px; left: 1016px; top: 2533.32px; position: absolute; color: #5A5A5A; font-size: 42px; font-family: Open Sans; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
            <div style="width: 534px; left: 1017px; top: 2178px; position: absolute; color: #5A5A5A; font-size: 42px; font-family: Open Sans; font-weight: 600; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam </div>
            <img style="width: 916px; height: 600px; left: 10px; top: 2172px; position: absolute" src="https://via.placeholder.com/916x600" />
            <div style="width: 119.24px; height: 104.31px; left: 445px; top: 2417.68px; position: absolute">
                <div style="width: 119.24px; height: 104.31px; left: 0px; top: 0px; position: absolute; background: #E7E6E6"></div>
                <div style="width: 58.05px; height: 49.36px; left: 33.12px; top: 27.47px; position: absolute; border: 1px #111111 solid"></div>
                <div style="width: 119.24px; height: 104.31px; left: 0px; top: 0px; position: absolute; border: 1px #111111 solid"></div>
            </div>
            <div style="width: 341px; height: 74px; left: 10px; top: 1675px; position: absolute">
                <div style="width: 341px; height: 74px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px white solid"></div>
                <div style="width: 255.50px; left: 70.25px; top: 13px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mills Pilates</div>
            </div>
            <div style="width: 341px; height: 74px; left: 10px; top: 2703px; position: absolute">
                <div style="width: 341px; height: 74px; left: 0px; top: 0px; position: absolute; background: #CE0033; border-radius: 20px; border: 1px #E91F23 solid"></div>
                <div style="width: 255.50px; left: 70.25px; top: 13px; position: absolute; color: white; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Le Yoga</div>
            </div>
        </div>
    </div>
    <div style="width: 1728px; height: 183px; left: 0px; top: 3366px; position: absolute">
        <div style="width: 1728px; height: 183px; left: 0px; top: 0px; position: absolute; background: black; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 1728px; height: 183px; background: black"></div>
        </div>
        <div style="width: 240.30px; left: 1283.85px; top: 48px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Newsletter</div>
        <div style="width: 27px; height: 20px; left: 263.25px; top: 139px; position: absolute">
            <div style="width: 16.20px; height: 12px; left: 5.40px; top: 4px; position: absolute; background: white"></div>
            <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
        </div>
        <div style="width: 27px; height: 20px; left: 317.25px; top: 139px; position: absolute">
            <div style="width: 16.20px; height: 10px; left: 5.40px; top: 4.80px; position: absolute; background: white"></div>
            <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
        </div>
        <div style="width: 27px; height: 20px; left: 371.25px; top: 139px; position: absolute">
            <div style="width: 16.20px; height: 12px; left: 5.40px; top: 4px; position: absolute; background: white"></div>
            <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
        </div>
        <div style="width: 345.60px; height: 42px; left: 1248.75px; top: 104px; position: absolute; background: #E91F23; border-radius: 20px"></div>
        <div style="left: 1283.85px; top: 113px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">veillez vous inscrire</div>
        <div style="width: 129.60px; height: 15px; left: 635.85px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Acceuil</div>
        <div style="width: 126.90px; height: 25px; left: 638.55px; top: 73px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">regime</div>
        <div style="width: 282.15px; height: 15px; left: 638.55px; top: 112px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Qui Somme Nous</div>
        <div style="left: 1019.25px; top: 110px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact</div>
        <div style="left: 1019.25px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Blog</div>
        <div style="left: 1019.25px; top: 69px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Service</div>
        <div style="left: 144.45px; top: 15px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">About us</div>
        <div style="width: 425.25px; left: 110.70px; top: 67px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 300; word-wrap: break-word">Votre aventure fitness commence aujourd'hui avec. Fit-Together</div>
    </div>
    <div style="width: 1728px; height: 79px; left: 5px; top: 4px; position: absolute">
        <div style="width: 1728px; height: 79px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div style="width: 1076px; height: 50px; left: 542px; top: 14px; position: absolute">
            <img style="width: 58px; height: 50px; left: 841px; top: 0px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 9999px" src="https://via.placeholder.com/58x50" />
            <div style="left: 0px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Accueil</div>
            <div style="left: 127px; top: 10px; position: absolute; color: #E91F23; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Service</div>
            <div style="left: 248px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">A propos</div>
            <div style="left: 379px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact</div>
            <div style="left: 504px; top: 11px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">regime</div>
            <div style="left: 914px; top: 12px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mariama sambou</div>
        </div>
    </div>
    <div style="width: 1730.88px; height: 295px; left: 0.12px; top: 81px; position: absolute">
        <div style="width: 1730.88px; height: 295px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <img style="width: 750px; height: 295px; left: 54.88px; top: 0px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/750x295" />
        <div style="width: 862.43px; left: 843.35px; top: 92px; position: absolute; color: white; font-size: 20px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Bienvenue sur notre plateforme Fit-Together, l'espace numérique où la passion pour la remise en forme rencontre la commodité de l'apprentissage en ligne. Chez Fit-Together, nous nous engageons à créer une expérience unique et inspirante qui transcende les frontières physiques pour vous permettre de vivre une vie plus saine, plus active et plus épanouissante.</div>
    </div>
</div>