<!-- <p>page-service works!</p> -->
<!-- hearder service  -->
<!-- header menu page d'acceuil -->
<div style="width: 100%; height: 79px; left: -20px; top: 0px; position: absolute">
    <div style="width: 100%; height: 79px; left: -20px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 1000px; height: 50px; left: 29%; top: 14px; position: absolute">
        <button class="connnecter" [routerLink]="['/connexion']" routerLinkActive="router-link-active"   > Se connecter</button> 
        <div class="acceuil" [routerLink]="['/Acceuil']">Accueil</div>
        <div class="service" [routerLink]="['/Service']" routerLinkActive="router-link-active" >Service</div>
        <div class="propos" [routerLink]="['/propos']" routerLinkActive="router-link-active" >A propos</div>
        <div class="contact" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</div>
        <div class="regime" [routerLink]="['/Regime']" routerLinkActive="router-link-active" >regime</div>
    </div>
  </div>
<!-- banniére -->
<div style="width: 100%; height: 295px; left: 0.12px; top: 81px; position: absolute">
    <div style="width: 100%; height: 295px; left: 0px; top: 0px; position: absolute; background: black"></div>
    <img style="width: 750px; height: 295px; left: 54.88px; top: 0px; position: absolute; border-radius: 20px" src="https://s3-alpha-sig.figma.com/img/2d75/89e2/4b52beeed8deff715330aaefe424fd9e?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZcXo~z0qWgFexMh1H771nebSrXVK7SDoPx0Lg5LdVxWp-a4LneCHE-nMtumKWPcf7qIV5Yk7RZOoPJst3Qgk08aN2MV2oocBJIkmS6~sjgsQdLnAIH9EyX9F2KoYWNrx1Lu0YTLKg8BFf0avQmdcpaCNVb7dH3~MZcY~x0PFg9QVgvXfZgU3a4HcTCZWkl9HWGUjQb7Id0uXp~6GgC6K0D4WJ-CrXc6lBGrdqNGO4naDFdcs3XIhRAmqCuw4HMHK25ZTrVC3xZlDNXaq7mw0lemBTVq-dE8GkWkhYgfHmaN5X8EowN15WOZgHyT9faqJM~ND3LeF0BpWFaMz6CWctA__" />
    <div style="width: 35%; left: 60%; top: 50px; position: absolute; color: white; font-size: 22px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Bienvenue sur notre plateforme Fit-Together, l'espace numérique où la passion pour la remise en forme rencontre la commodité de l'apprentissage en ligne. <br> Chez Fit-Together, nous nous engageons à créer une expérience unique et inspirante qui transcende <br> les frontières physiques pour vous permettre de vivre une vie plus saine, plus active et plus épanouissante.</div>
</div>
<!-- listes des cours disponibles -->
<div class="cours">
   <h1>listes Des Cours Disponibles</h1>
</div>
<div class="row">
    <div class="card">
        <div>
            <iframe class="video" width="750" height="430" src="https://www.youtube.com/embed/BdZYB4iLULQ" title="30-Minute Cardio Dance &amp; Sculpting Workout" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="texte">
          <h4>Le programme Body Sculpt avec Fitness est conçu pour vous offrir une expérience complète de remodelage corporel. Cette approche unique combine des exercices ciblés visant à sculpter et à tonifier chaque groupe musculaire, vous aidant à atteindre vos objectifs esthétiques et de remise en forme. Les séances ciblent spécifiquement les zones clés du corps, favorisant la définition musculaire, l'amélioration de la force et la création d'une silhouette plus élancée. Avec des exercices dynamiques et variés, le Body Sculpt vous permet de travailler sur votre forme physique de manière équilibrée, vous aidant à obtenir des résultats visibles et durables. Que vous soyez débutant ou athlète expérimenté, ce programme personnalisé s'adapte à tous les niveaux, vous permettant de sculpter votre corps selon vos propres objectifs et préférences.</h4>
        </div>
    </div>
    <div class="mt-5">
        <button class="Sculpt">Le Body-Sculpt</button>
    </div>
</div>
<div class="container">
    <div class="texte">
        <h4>Miles Pilates" est une méthode d'exercices physiques qui se concentre sur le renforcement du corps, la flexibilité, l'amélioration de la posture et la promotion du bien-être général. Inspirée du travail du célèbre instructeur Joseph Pilates, la méthode Miles Pilates combine des mouvements fluides et contrôlés avec une respiration profonde pour créer une connexion harmonieuse entre le corps et l'esprit.
            Contrairement à certaines formes d'exercice, le Pilates met l'accent sur la qualité plutôt que sur la quantité des mouvements. Les exercices sont conçus pour cibler spécifiquement les muscles profonds, renforçant ainsi le centre du corps, également appelé le "core". En renforçant cette région, les praticiens de Miles Pilates peuvent améliorer leur stabilité, leur équilibre et leur coordination.</h4>
    </div>
      <div >
        <div>
            <iframe class="video" width="750" height="430" src="https://www.youtube.com/embed/AdqrTg_hpEQ" title="Walking Exercise with the SUPER Coaches! | Walk at Home" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="mt-5">
    <button class="Sculpt">Les Miles Pilates</button>
</div>
<div class="tout">
    <div class="row">
        <div class="card">
            <div>
                <iframe class="video" width="750" height="430" src="https://www.youtube.com/embed/BHIY4jSh3OY" title="Cours de Yoga anti-stress de 15 minutes avec MARYSE LEHOUX." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="texte">
              <h4>Le yoga est bien plus qu'une simple pratique physique ; c'est un mode de vie qui englobe le corps, l'esprit et l'âme. Originaire de l'Inde ancienne, le yoga est une discipline millénaire qui vise à harmoniser ces trois aspects fondamentaux de l'être humain.
                Au-delà des postures physiques, ou "asanas", le yoga intègre la méditation, la respiration consciente et la philosophie de vie. Il offre un chemin vers l'équilibre intérieur, la paix mentale et la flexibilité physique. En embrassant le yoga, les pratiquants sont invités à explorer leur propre nature, à cultiver la conscience de soi et à trouver la sérénité au sein du tumulte quotidien.Que vous soyez débutant ou yogi expérimenté, le yoga peut être adapté à chacun, favorisant la santé physique, la gestion du stress et le bien-être global. Que vous soyez débutant ou yogi expérimenté, le yoga peut être adapté à chacun, favorisant la santé physique, la gestion du stress et le bien-être global.</h4>
            </div>
        </div>
        <div class="mt-5">
            <button class="Sculpt" [routerLink]="['/Body-Sculpt']" routerLinkActive="router-link-active" >Le Yoga</button>
        </div>
    </div>
</div>