
    <div style="width: 100%; height: 79px; left: -5px; top: 0px; position: absolute">
        <div style="width: 100%; height: 79px; left: -20px; top: 0px; position: absolute; background: white"></div>
        <div style="width: 1000px; height: 50px; left: 35%; top: 14px; position: absolute">
            <button  style="width: 100px; height: 30px; left: 83%; top: 10px; position: absolute; background: linear-gradient(0deg, #E91F23 0%, #E91F23 100%); border-radius: 100px; color: white; border: none;"  ><a [routerLink]="['/connexion']" routerLinkActive="router-link-active" ></a> Se connecter</button> 
            <div style="left: 0px; top: 10px; position: absolute; color: #E91F23; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Accueil</div>
            <div [routerLink]="['/propos']"  style="left: 127px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word" >Service</div>
            <div [routerLink]="['/Contact']"  style="left: 248px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">A propos</div>
            <div  [routerLink]="['/Regime']" style="left: 379px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word"  >Contact</div>
            <div   [routerLink]="['/Acceuil']"style="left: 504px; top: 11px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word"  >regime</div>
        </div>
    </div>
    <div style="width: 99%; height: 303.62px; left: -12px; top: 10%; position: absolute; background: black"></div>
    <img style="width: 495px; height: 300px; left: 820px; top: 77px; position: absolute" src="https://s3-alpha-sig.figma.com/img/5f9a/2e39/89b050163956ad6f6b98b4f7e2ae9082?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AFkr1JpVOjDSAvcuYWGTwbfqpV3~aEuiXdLn3zo4TSFc2CZXwXWqP7sEkAvYwndlZzBg1o1iGxrl5T9MXTfG0NUyH174S-sMOrgEEV2HV~MI9uV3HKEgU5GdJwYRSaU~6YmJfMopqBGHbhFd1AnhUHZ-f0lDIMIFCIuMHmS21HJvUW4ICFObYAMUlRQDsrIZgNoWCut~tSH-qUejYQSNyE4EgNcUcOIsW0d8PDuYEUl8-N3uaAh79eqCi-m87-FolO9srCf~81w3PrWs7rEHXQYkHqBtJTbrphWUso7wKtoRN5dxAg9nmLPUDvpmVvDT7gidLjXEA-0nYS-2OC458g__" />
    <div style="width: 749px; left: 60px; top: 170px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Dans chaque goutte de sueur, dans chaque répétition, vous sculptez bien plus que des muscles. Vous sculptez la détermination, la résilience, et la force intérieure qui réside en vous</div>
    
    <div class="container">
        <div style="width: 100%; height: 2890px; position: relative ;display: flex; justify-content: center;">
            <div style="width: 100%; height: 693.87px; left: 1px; top: 15%; position: absolute">
                <div style="width: 897px; height: 113.03px; left: 162px; top: 0px; position: absolute">
                    <div style="width: 564px; height: 48.16px; left: 270px; top: 0px; position: absolute; text-align: center; color: black; font-size: 26px; font-family: Manrope; font-weight: 700; text-transform: uppercase; word-wrap: break-word">BIENVENUE CHEZ FIT-TOGETHER</div>
                    <div style="width: 897px; height: 64.87px; left: 130px; top: 48.16px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Pratiquez le fitness pour parfaire la beauté physique, prendre soin de votre âme et apprécier pleinement la vie !</div>
                </div>
                <div style="width: 1298px; height: 523.85px; left: 70px; top: 170.03px; position: absolute">
                    <img style="width: 557px; height: 523.85px; left: 0px; top: 0px; position: absolute" src="https://s3-alpha-sig.figma.com/img/4af5/faae/14a2364fa2a0fcafd1e02d14d5592cbd?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Kg7l014VGlwIVEajVQeIs516l1rFb6j904tqVF9W3vLJNMBklRivqI1j28WhAmegosRVN8vFlaEzHaldlM1Qj1-ONhf623e9Yq9uSzM02C7pDu6XZRVXYKpHS~9IbT2QpSmzr03vWOaSE~CUDm10Eoi6ZNtgIdgUESe-r4E1YrOYfzkR8Tmw2Vz847WdFNxJUDhNePejrzDyqh~63PgtWyVV3druC9-S1hI1Zouq-GzSbMqVPW3y8IC7PTbYd8LqU7OpU-EO3vUbxpkLzHxFutSsV2QPq-~aTwG-1ZJKRukHPKCiyumKfOt5KefuKm9sDQNGKTYCxfPhcJw0rgdQ9w__" />
                    <div style="width: 488px; height: 64.87px; left: 600px; top: 101.69px; position: absolute">
                        <img style="width: 64px; height: 59.95px; left: 0px; top: 1.96px; position: absolute" src="https://s3-alpha-sig.figma.com/img/0313/b0ea/5b4cf36bf3db601460af5ee3127b9f2f?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=EPHEHvsuFtSP2uAPI1G9RzCbkz7BNdly2PcU3fZNJBwa6oe4nGwnE0Dq55p5ywMacLH8q4GFS2MPn46kBVGGk66v5uHNva2dC3DoISqgb0LYUWOZL4ckAlNMexlPLePtmD3JwASi1~PnVARWLc7PpsvIC5zgLMw33~ReqFcQxfxgdNAjx~kHJ3hF2WD5QQE3VzmRzpukdz0Wr3s3tGcbchyDaaYNOGiLsLld5gxObr-gb-NmMK3k8W-IZ-cht9AFSOI4ZDd7X0zGvGzXpKvLADf94DGs9Jor22S86jZjEhf1VIhm0XZkbYj5Hl-7l4Rn0ssRsvl9svJ8E8J3CIhJrQ__" />
                        <div style="width: 256px; height: 32.43px; left: 79px; top: 0px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Réjuvénation Complète</div>
                        <div style="width: 409px; height: 32.43px; left: 79px; top: 32.43px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Osez Retrouver Votre Éclat Intérieur !"</div>
                    </div>
                    <div style="width: 608px; height: 71.75px; left: 690px; top: 242.24px; position: absolute">
                        <img style="width: 59px; height: 58.97px; left: 0px; top: 2.95px; position: absolute" src="https://s3-alpha-sig.figma.com/img/c83c/522b/b77277d6bb8248a944778e59a5161e22?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=F8pJPZHvddjGYhNXH9sZp2fya4mw3Hq~3PSxebTFzVL0A9zToH7gnUKao500LEli8GsXi6aSSVgD6h5Q6WpIU-mukAU4f7AEwUbejGA80g1XhpeeNWy4qM4L-Yp8Jk2j1JjNh8-x1Wfl4a7YllydOxhUsmqCWjy2JiaIPQsPMfTWFC190kOc8IvS4Pi66fOVLBx5UCb7lFtrNwLoCiQrq8kjClY03YG1qaAXOOrCLZDlniuk-L4zI4FQraaxONpZOKDRMbggp-9kVkBohF2st7ylw~JMCT7vNAgRqLKws77Yo7DXgojplRLH06XHnKTwVaWUyVwN30Xl8zVTd6cO~A__" />
                        <div style="width: 257px; height: 32.43px; left: 79px; top: 0px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Extension du Printemps</div>
                        <div style="width: 529px; height: 32.43px; left: 63px; top: 39.31px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Renouvelez votre énergie, épanouissez votre vie.</div>
                    </div>
                </div>
                <div style="width: 600px; height: 71.75px; left: 677px; top: 545.07px; position: absolute">
                    <img style="width: 55px; height: 65.85px; left: 0px; top: 5.90px; position: absolute" src="https://s3-alpha-sig.figma.com/img/5423/aea1/3b5269fb02d56564243f943e5ffe164b?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=csMJ6jd2537e1rcEao4c8cpOfVbnqCH4j9CWlw0WdiGf1jKTOBtMijwSZYYVWsbKvQ6lOM32jNEX8vrKS-N8S21HnJv9VCw4GoxLXfjCyH3K2yk1oS2s6XV7n7ViyBuZI4r1ffz7Yeu-zXqsqwGxKMLaR7QQJJbvi6Jf~gFeaPjacQIvuScm-78cvD266WbbPtw5BAmbYoyIyWq8ogzzDMSxJsVh819TB4ut755xce7Hyi8gSxDDdHmJh92UoQI~S7NbM05zdQsHuEqU3PpZFrJXALIcvF2OTDICpWA8Ryk5SkwQ8uF24bgmadvg-kWa9lejaV4pc78hoKK7XXvjBg__" />
                    <div style="width: 255px; height: 32.43px; left: 79px; top: 0px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Contre le Vieillissement</div>
                    <div style="width: 619px; height: 32.43px; left: 27px; top: 37.35px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Libérez la jeunesse intérieure, embrassez chaque instant</div>
                </div>
            </div>
        </div>
    </div>
    <!-- les cartes pour les cours disponibles  -->
   <div class="row ">
    <div style="width: 624px; height: 59.63px; left: 480px; top: 170%; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Listes Des Cours disponibles</div>
    <div style="width: 80%; height: 755px; left: 0px; top: 190%; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 132px; display: inline-flex">
        <div style="width: 235px; height: 755px; position: relative">
            <div style="width: 453px; height: 755px; left: 35%; top: 0px; position: absolute">
                <div style="width: 380px; height: 755px; left: -30px; top: 0px; position: absolute">
                    <div style="width: 450px; height: 755px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25)"></div>
                    <div style="width: 400px; height: 236.76px; left: 23px; top: 450px; position: absolute; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word"> le Body Balance transcende les limites conventionnelles de l'entraînement physique. Cette discipline innovante puise dans les principes du yoga, du tai-chi et de la gymnastique pour créer une expérience immersive qui élève non seulement le niveau de condition physique, mais nourrit également le bien-être mental. Rejoignez-nous dans ce voyage où le mouvement gracieux et la concentration se conjuguent pour sculpter le corps tout en apaisant l'esprit, transformant votre routine fitness en une célébration quotidienne de l'équilibre intérieur et de la vitalité extérieure.</div>
                    <img style="width: 408px; height: 382.84px; left: 18px; top: 14px; position: absolute; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/cd1b/86bb/dcb50e3cba69cd93c8577f3928658252?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=paeoUUKk-IRvhpncVr-V0hJPwaHvjYqWQCk3bseGopKfQyist-qtCHyBkj9xN9iNhWDv4i6NbxAfV3FUNT6ZaEvqLWHtErRjSCEjzghmTIXVe3PjcwpFkTSfiwDM8PxC1Ki-SL77qbJtVcVaFb4vA56AjcW-tcHKKMq7rJufUGs7Iveu~W-OcaymcMO1FFaH1SXmesC5wnazEi3SZxAY3D9cgIIgH7Yc7gjqLFH2cUUlK1SOXew7OLruUS-vrff1VsvrHpuFl8JU4nUA0IOqcedG-VwsGzOm628Tr2rLTAncOSuUcdJui0NVHjgDlpCC0A1QLtvRY6S0YYjPgDJ0Dw__" />
                    <div style="width: 151px; height: 27.25px; left: 146px; top: 409.80px; position: absolute; text-align: center; color: #E91F23; font-size: 22px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Body Balance</div>
                    <div style="width: 73px; height: 21px; left: 85px; top: 693px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">lobe dia</div>
                    <div style="width: 65px; height: 20.67px; left: 91px; top: 713.28px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Manager</div>
                </div>
                <div style="width: 436px; height: 0px; left: -18px; top: 675.23px; position: absolute; border: 1px #E91F23 solid"></div>
                <div style="width: 188.17px; height: 34px; left: 258px; top: 698.23px; position: absolute">
                    <div style="width: 188.17px; height: 34px; left: -35px; top: 0px; position: absolute; background: #E91F23; border-radius: 20px"></div>
                    <div style="left: 25px; top: 3px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Suivez-nous</div>
                </div>
            </div>
            <img style="width: 50px; height: 50px; left: 55px; top: 690px; position: absolute; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/36a6/06e7/bb7fb861f7cbcdb5246cb45e466d2260?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=T6nRKnRafN6dqw1II55~rwuf2yFHxNDiDn6CvJmEAx~J2i9Lxfxx352QLZCFpxMMsKhKaKb9TsB4LhUpwNIr7XILjodBJ7yjD05VYPfrneFODOtu4QOkD-MqhJcLrsWS0AO5Y4GiHPcDLoMbKm9EPr1D~nKy5GQ5ZZY5oElLcqe322nRfMifM8bVYbwp9cg1v5fYVFYIqMIeNMfwnb4lOOlmec0c4WCrln531sG1LsoX0l7e4TvNX5c9KKE84NUnp1Coy8Ow6BUEJYHYdxPtoDo38-8ADd4iTa81AmKuz3d-1YlMO0Imx3XTJPRUOpSfcbYNrns6azXjprAgqbu98A__" />
        </div>
        <div style="width: 483px; height: 755px; position: relative">
            <div style="width: 383px; height: 755px; left: 55%; top: 0px; position: absolute">
                <div style="width: 283px; height: 755px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 450px; height: 755px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25)"></div>
                    <div style="width: 400px; height: 236.76px; left: 23px; top: 455px; position: absolute; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Inspiré par la méthodologie du fondateur Joseph Pilates, notre approche moderne intègre des mouvements fluides, une respiration consciente et une précision anatomique. Plongez dans une séance où chaque exercice est conçu pour renforcer le noyau, améliorer la posture et révéler la puissance intérieure. Que vous soyez débutant ou passionné de fitness, le Pilates Les Mills vous offre un voyage vers une meilleure conscience corporelle et un bien-être total.</div>
                    <img style="width: 400px; height: 382.84px; left: 23px; top: 14px; position: absolute; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/372c/be26/8af9105088484b3eb9a8b7c257767635?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DMbIS4VIybaZ26hm4NFMUNSF8TpYZweagzcEpvF2cWcmAhSHji7AsjQaQMp6t1hfveJyiHuhVgRIUooyTgceXHTPp16lUFJ25DhGMSmTPgHb0Rsb9NvGusNlD4msIL7YOlHZPZZmJUbwCk10~Qz6RQbw-LcrmBaO9gW5QA-Jzx161GudUxbRrhddE0lSHwIIxG5pML2H-LwBMzmD4ZsIEb8d8PRZWB5Be6C~7JWdBgpkRI6xACLtrVo8hpSiyBHaxiypfhWuAezeVJGfGadNpEOVsyiAzIi3qjEAxQ998Bl0yr4KuLBaC3CFmpausWVrOts~AYJVPDIxsyyykpLsQQ__" />
                    <div style="width: 151px; height: 27.25px; left: 146px; top: 416.80px; position: absolute; text-align: center; color: #E91F23; font-size: 20px; font-family: Manrope; font-weight: 300; word-wrap: break-word">LesMills Pilates</div>
                    <div style="width: 124px; height: 20.67px; left: 87px; top: 699px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Mariama sambou</div>
                    <div style="width: 65px; height: 20.67px; left: 87px; top: 720px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Manager</div>
                </div>
                <div style="width: 436px; height: 0px; left: 8px; top: 677.23px; position: absolute; border: 1px #E91F23 solid"></div>
                <div style="width: 188.17px; height: 34px; left: 250px; top: 705px; position: absolute">
                    <div style="width: 188.17px; height: 34px; left: 0px; top: 0px; position: absolute; background: #E91F23; border-radius: 20px"></div>
                    <div style="left: 40px; top: 5px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Suivez-nous</div>
                </div>
            </div>
            <img style="width: 50px; height: 50px; left: 225px; top: 695px; position: absolute; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/f3fe/78fe/6cc3b6afab3d3e8928380679ade3659c?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GHOfdHHXbTwCEUMHZfqKv92zJmTrdLNS8r3~Xa1HkcqpdQoHmipJZPIy49QqUl~4jj7Kp97TsLaPchngRT-hrc7O5kcRU2k5~eX-oxu2Wq-RPhSHq~RrhM4joxtU08tUKpe8ITTCUCOLGSr9G5rr1TYfqOPanayrxnEgSp3hOTg3IqovG3w~DxoHeKUEWfQFmDEq~rsIzzKjLS7clD-r7MlYlIF7Wt41wz2p1kSFUu-CJJ9OSn~sTXcK35BTEYailUpcJGsLmezeBBZCtm9NlYslYE6RrVvkg9xoz4CzFTmZxBoNXUArnWynQvBm-qU4ENyQsZZcLhKpF2Z-iS1XqQ__" />
        </div>
        <div style="width: 483px; height: 755px; position: relative">
            <div style="width: 350px; height: 755px; left: 189px; top: 0px; position: absolute">
                <div style="width: 483px; height: 755px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 450px; height: 755px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25)"></div>
                    <div style="width: 400px; height: 236.76px; left: 23px; top: 458px; position: absolute; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Un noyau fort est la base d'une bonne posture et d'une stabilité accrue. Les exercices pour les abdominaux ne se limitent pas aux redressements assis classiques. Intégrez des exercices de planche, des rotations du tronc et des relevés de jambes pour solliciter l'ensemble des muscles abdominaux. N'oubliez pas de maintenir une bonne technique pour maximiser les avantages tout en minimisant le risque de blessure.</div>
                    <img style="width: 400px; height: 382.84px; left: 23px; top: 14px; position: absolute; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/2266/43e9/4e5ba88774de85e71dcc8f5b20b294e2?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=i6SXDz8-rkRSMJ4WKk80MgzdfAY6U2VKb3KnHQDu9iLNdYE7mFmNmqqkQJLY0k0vCwlB1YCCiXJW7-2a3zotQQl8OqpBIAfTwRfvtzlRfSxtUZKoz8R5AC96kkcFojMxrbQdBoiopKLbi9T2MiZW50Pn7KsQMeNoQoaRjBoR7KC43oa4~i27IHnVHkuZUdI1Jmksp-Dk9OFIzNBvPZvlYKHJsI4nBUc60qGqU6wpInxHZAHlPQX39jqPk40acLxSY5lAzBymYv83a5DtrpGgfirVQDoFH5mZOWqE5K~7vQ8w~ZiWlqw5NAPEJIcbLnNoyBaVF3wx4mbip0qWqhOskg__" />
                    <div style="width: 151px; height: 27.25px; left: 146px; top: 415.80px; position: absolute; text-align: center; color: #E91F23; font-size: 20px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Body Sculpt</div>
                    <div style="width: 88px; height: 21px; left: 80px; top: 690px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Amadem fall</div>
                    <div style="width: 65px; height: 20.67px; left: 80px; top: 710px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Manager</div>
                </div>
                <div style="width: 436px; height: 0px; left: 7px; top: 675px; position: absolute; border: 1px #E91F23 solid"></div>
                <div style="width: 188.17px; height: 34px; left: 250px; top: 705px; position: absolute">
                    <div style="width: 188.17px; height: 34px; left: 0px; top: 0px; position: absolute; background: #E91F23; border-radius: 20px"></div>
                    <div style="left: 36px; top: 5px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Suivez-nous</div>
                </div>
            </div>
            <img style="width: 50px; height: 50px; left: 197px; top: 687px; position: absolute; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/db3b/aac1/359965fc66857764addb5f5f92a361db?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JwAYlhjoxy8k7t6UJDcpNoXMzqOijOOsOYVhPNI1mtS0jk4EF8k5iCuRsc5IZT-Mfp3pfvO9A90VmH7KiQID0zW-t82wfAhmtRuw2YWKcxkcyIva6gl83oahHoPBz~ndSzSHNmiqrmRe9SlD3Pav~75nju9q1mcIZMoLXGxPlhgHSkx--40htaUnkfU7oImFZyTe9XEzLota7tTugeKfXKZSRbku-XGUTJ6rxDjsFEVvJD1rd7Un34Zid15JdGqDLMYbRe49qGzAE3jZ5E6B42~~Zh2~0vPcF6q~slQryVIZQC5xsC5PNYgA4l8Qzf~DbFItGXq835NRhPvrR6AWRA__" />
        </div>
    </div>
   </div>
   <!-- pagination des cartes -->
   <div style="width: 155px; height: 20px; left: 650px; top: 306%; position: absolute">
    <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; background: #E91F23; border-radius: 9999px"></div>
    <div style="width: 20px; height: 20px; left: 44px; top: 0px; position: absolute; background: #E91F23; border-radius: 9999px"></div>
    <div style="width: 20px; height: 20px; left: 88px; top: 0px; position: absolute; background: #E91F23; border-radius: 9999px"></div>
    <div style="width: 20px; height: 20px; left: 135px; top: 0px; position: absolute; background: #E91F23; border-radius: 9999px"></div>
   </div>
   <!-- <div class="d-flex flex-wrap justify-content-center my-5" >
    <button class="btn pagiColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
      Précédent
    </button>
    <button class="btn pagiColor  ms-2 " *ngFor="let page of pages" (click)="pageActuelle = page">
      {{ page }}
    </button>
    <button class="btn pagiColor  ms-2 " [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
      Suivant
    </button>
</div> -->
       <!-- <div style="width: 527px; left: 500px; top: 320%; position: absolute; text-align: center; color: black; font-size: 60px; font-family: Source Sans Pro; font-weight: 700; line-height: 20px; word-wrap: break-word">
          Les coachs
       </div> -->
       <!-- <div class="title">
        <h1> _9 clip-path animations</h1>
        <p>_CSS animations made only with clip-path and transition</p>
      <div> -->
      
     :
    <!-- Section footer -->
    <!-- <footer>
        <div style="width: 100%; height: 183px; left: 0px; top: 2770px; position: absolute">
            <div style="width: 100%; height: 183px; left: 0px; top: 0px; position: absolute; background: black; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 100%; height: 183px; background: black"></div>
            </div>
            <div style="width: 240.30px; left: 1200px; top: 48px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Newsletter</div>
            <div style="width: 27px; height: 20px; left: 263.25px; top: 139px; position: absolute">
                <div style="width: 16.20px; height: 12px; left: 5.40px; top: 4px; position: absolute; background: white"></div>
                <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
            </div>
            <div style="width: 27px; height: 20px; left: 317.25px; top: 139px; position: absolute">
                <div style="width: 16.20px; height: 10px; left: 5.40px; top: 4.80px; position: absolute; background: white"></div>
                <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
            </div>
            <div style="width: 27px; height: 20px; left: 371.25px; top: 139px; position: absolute">
                <div style="width: 16.20px; height: 12px; left: 5.40px; top: 4px; position: absolute; background: white"></div>
                <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
            </div>
            <div style="width: 15%; height: 42px; left: 82%; top: 104px; position: absolute; background: #E91F23; border-radius: 20px"></div>
            <div style="left: 1260px; top: 115px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">veillez vous inscrire</div>
            <div style="width: 129.60px; height: 15px; left: 635.85px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Acceuil</div>
            <div style="width: 126.90px; height: 25px; left: 638.55px; top: 73px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">regime</div>
            <div style="width: 282.15px; height: 15px; left: 638.55px; top: 112px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Qui Somme Nous</div>
            <div style="left: 1019.25px; top: 110px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact</div>
            <div style="left: 1019.25px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Blog</div>
            <div style="left: 1019.25px; top: 69px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Service</div>
            <div style="left: 144.45px; top: 15px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">About us</div>
            <div style="width: 425.25px; left: 110.70px; top: 67px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 300; word-wrap: break-word">Votre aventure fitness commence aujourd'hui avec. Fit-Together</div>
        </div>
    </footer>
      -->



