<!-- header menu page d'acceuil -->
<div style="width: 100%; height: 79px; left: -20px; top: 0px; position: absolute">
  <div style="width: 100%; height: 79px; left: -20px; top: 0px; position: absolute; background: white"></div>
  <div style="width: 1000px; height: 50px; left: 29%; top: 14px; position: absolute">
      <button class="connnecter"  > Se connecter</button> 
      <div class="acceuil" [routerLink]="['/Acceuil']">Accueil</div>
      <div class="service" [routerLink]="['/Service']" routerLinkActive="router-link-active" >Service</div>
      <div class="propos" [routerLink]="['/propos']" routerLinkActive="router-link-active" >A propos</div>
      <div class="contact" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</div>
      <div class="regime" [routerLink]="['/Regime']" routerLinkActive="router-link-active" >regime</div>
  </div>
</div>
<div>
  
  
</div>