<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="page-acceuil.component.css">
	<title>page-d'Acceuil</title>
</head>
<body>
	<div style="width: 100%px; height: 1117px; position: relative; background: white">
		<div style="width: 1728px; left: 0px; top: 463.62px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
		  <div style="width: 1728px; height: 2731.54px; position: relative">
			<div style="width: 1383px; height: 696.87px; left: 203px; top: 0px; position: absolute">
			  <div style="width: 897px; height: 113.03px; left: 174px; top: 0px; position: absolute">
				<div style="width: 564px; height: 48.16px; left: 179px; top: 0px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Manrope; font-weight: 700; text-transform: uppercase; word-wrap: break-word">BIENVENUE CHEZ FIT-TOGETHER</div>
				<div style="width: 897px; height: 64.87px; left: 0px; top: 48.16px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Pratiquez le fitness pour parfaire la beauté physique, prendre soin de votre âme et apprécier pleinement la vie !</div>
			  </div>
			  <div style="width: 1300px; height: 523.85px; left: -30px; top: 173.03px; position: absolute">
				<img style="width: 557px; height: 523.85px; left: 0px; top: 0px; position: absolute" src="https://themewagon.github.io/ahana/img/about.png" />
				<div style="width: 488px; height: 64.87px; left: 620px; top: 98.69px; position: absolute">
				  <img style="width: 64px; height: 59.95px; left: 0px; top: 1.96px; position: absolute" src="https://themewagon.github.io/ahana/img/icons/about-1.png" />
				  <div style="width: 256px; height: 32.43px; left: 79px; top: 0px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Réjuvénation Complète</div>
				  <div style="width: 409px; height: 32.43px; left: 65px; top: 32.43px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Osez Retrouver Votre Éclat Intérieur !"</div>
				</div>
				<div style="width: 608px; height: 71.75px; left: 620px; top: 239.24px; position: absolute">
				  <img style="width: 59px; height: 58.97px; left: 0px; top: 2.95px; position: absolute" src="https://themewagon.github.io/ahana/img/icons/about-2.png" />
				  <div style="width: 257px; height: 32.43px; left: 65px; top: 0px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Extension du Printemps</div>
				  <div style="width: 529px; height: 32.43px; left: 45px; top: 39.31px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Renouvelez votre énergie, épanouissez votre vie.</div>
				</div>
			  </div>
			  <div style="width: 698px; height: 71.75px; left: 600px; top: 530.07px; position: absolute">
				<img style="width: 55px; height: 65.85px; left: 0px; top: 5.90px; position: absolute" src="https://themewagon.github.io/ahana/img/icons/about-3.png" />
				<div style="width: 255px; height: 32.43px; left: 79px; top: 0px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Contre le Vieillissement</div>
				<div style="width: 619px; height: 32.43px; left: 30px; top: 37.35px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Libérez la jeunesse intérieure,embrassez chaque instant</div>
			  </div>
			</div>
			<div style="width: 1713px; height: 874.62px; left: 8px; top: 756.88px; position: absolute">
			  <div style="width: 1713px; height: 755px; left: 0px; top: 119.62px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 132px; display: inline-flex">
				<div style="width: 483px; height: 755px; position: relative">
				  <div style="width: 483px; height: 755px; left: 0px; top: 0px; position: absolute">
					<div style="width: 483px; height: 755px; left: 0px; top: 0px; position: absolute">
					  <div style="width: 483px; height: 755px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25)"></div>
					  <div style="width: 450px; height: 236.76px; left: 23px; top: 435px; position: absolute; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word carte"> le Body Balance transcende les limites conventionnelles de l'entraînement physique. Cette discipline innovante puise dans les principes du yoga, du tai-chi et de la gymnastique pour créer une expérience immersive qui élève non seulement le niveau de condition physique, mais nourrit également le bien-être mental. Rejoignez-nous dans ce voyage où le mouvement gracieux et la concentration se conjuguent pour sculpter le corps tout en apaisant l'esprit, transformant votre routine fitness en une célébration quotidienne de l'équilibre intérieur et de la vitalité extérieure.</div>
					  <img style="width: 400px; height: 372.84px; left: 23px; top: 14px; position: absolute; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/cd1b/86bb/dcb50e3cba69cd93c8577f3928658252?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=paeoUUKk-IRvhpncVr-V0hJPwaHvjYqWQCk3bseGopKfQyist-qtCHyBkj9xN9iNhWDv4i6NbxAfV3FUNT6ZaEvqLWHtErRjSCEjzghmTIXVe3PjcwpFkTSfiwDM8PxC1Ki-SL77qbJtVcVaFb4vA56AjcW-tcHKKMq7rJufUGs7Iveu~W-OcaymcMO1FFaH1SXmesC5wnazEi3SZxAY3D9cgIIgH7Yc7gjqLFH2cUUlK1SOXew7OLruUS-vrff1VsvrHpuFl8JU4nUA0IOqcedG-VwsGzOm628Tr2rLTAncOSuUcdJui0NVHjgDlpCC0A1QLtvRY6S0YYjPgDJ0Dw__" />
					  <div style="width: 151px; height: 27.25px; left: 146px; top: 409.80px; position: absolute; text-align: center; color: #F9846C; font-size: 20px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Body Balance</div>
					  <div style="width: 73px; height: 21px; left: 85px; top: 693px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">lobe dia</div>
					  <div style="width: 65px; height: 20.67px; left: 91px; top: 713.28px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Manager</div>
					</div>
					<div style="width: 436px; height: 0px; left: 22px; top: 675.23px; position: absolute; border: 1px #E91F23 solid"></div>
					<div style="width: 188.17px; height: 34px; left: 258px; top: 698.23px; position: absolute">
					  <div style="width: 188.17px; height: 34px; left: 0px; top: 0px; position: absolute; background: #E91F23; border-radius: 20px"></div>
					  <div style="left: 36px; top: 3px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Suivez-nous</div>
					</div>
				  </div>
				  <img style="width: 50px; height: 50px; left: 29px; top: 688px; position: absolute; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/e81e/bb52/8046ca96f7ede643d4afb63eca6ca11d?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UrbcLL-gX8aMaxpm3DU6FEzGG36tIIKfxI-VrsiXl49oKI0qua3TJSIvspFuDz9CiehD0jhFKnk3t4JL-l3PdGh5qwdWQYcIPrgzbLK7kA-aamWHpMJpHZIkLnjHduvNx76AYAuO9-jjgG8ihEFPSDhrLDEjpxiaKZUIRoqTKsPelGWbMWAuWPQhBmWjuJ645A-bH7ZHFpvjlPrU6gQY5Zb33P~Erq~t73w5iFczwj-CpBvp9kitoLsXy8-yaglcokCQxld5dZqk9PRVgaYm5xDTdvL3EwZ0aK0sVPpk~Gz1I80r~cO8kx4-J--YdhDOjoou1eIi0mrChrz6Qg4QLQ__" />
				</div>
				<div style="width: 483px; height: 755px; position: relative">
				  <div style="width: 483px; height: 755px; left: 0px; top: 0px; position: absolute">
					<div style="width: 483px; height: 755px; left: 0px; top: 0px; position: absolute">
					  <div style="width: 483px; height: 755px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25)"></div>
					  <div style="width: 436px; height: 236.76px; left: 23px; top: 437px; position: absolute; color: black; font-size: 14px; font-family: Manrope; font-weight: 300; word-wrap: break-word carte">Inspiré par la méthodologie du fondateur Joseph Pilates, notre approche moderne intègre des mouvements fluides, une respiration consciente et une précision anatomique. Plongez dans une séance où chaque exercice est conçu pour renforcer le noyau, améliorer la posture et révéler la puissance intérieure. Que vous soyez débutant ou passionné de fitness, le Pilates Les Mills vous offre un voyage vers une meilleure conscience corporelle et un bien-être total. Préparez-vous à vivre une expérience de transformation physique et mentale, où la connexion corps-esprit devient la clé d'une vie équilibrée et dynamique.</div>
					  <img style="width: 400px; height: 372.84px; left: 23px; top: 14px; position: absolute; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/372c/be26/8af9105088484b3eb9a8b7c257767635?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UqMg~bLMi9ha3eUeWzfqNY~8PLXGH-odqjBafst~9FyrN3lnhlA0~LW1zC2bwA0Z0chv7Y1MzzMpq7r1cFtY7amrP6LljCUZFNo3ANy5ojQvZe~oXGelyHcrQWeHAJis6rkrIu3t3uGZ4CxloGLWuFOrvNvuohMNK4TXUqgK7ria7T1R9BxDLx3q32Gr7nLxuatAZ55iEiw5pA056wMCSHkuJ9vz2~2HDuCnukj7Zdiw6T9DJN8CIQaoLpD6H~4pxLliqBYyGDwpNRdmoyFla2hehiUvKkfdDAPZMYMe7icClGR-S8rTXGYyitGRtTbFXEMdvGh1~MFrWx3CrN-TCQ__" />
					  <div style="width: 151px; height: 27.25px; left: 146px; top: 412.80px; position: absolute; text-align: center; color: #E91F23; font-size: 20px; font-family: Manrope; font-weight: 300; word-wrap: break-word">LesMills Pilates</div>
					  <div style="width: 124px; height: 20.67px; left: 87px; top: 681.49px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Mariama sambou</div>
					  <div style="width: 65px; height: 20.67px; left: 87px; top: 700.28px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Manager</div>
					</div>
					<div style="width: 436px; height: 0px; left: 23px; top: 657.23px; position: absolute; border: 1px #E91F23 solid"></div>
					<div style="width: 188.17px; height: 34px; left: 259px; top: 687.23px; position: absolute">
					  <div style="width: 188.17px; height: 34px; left: 0px; top: 0px; position: absolute; background: #E91F23; border-radius: 20px"></div>
					  <div style="left: 36px; top: 3px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Suivez-nous</div>
					</div>
				  </div>
				  <img style="width: 50px; height: 50px; left: 23px; top: 674px; position: absolute; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/36a6/06e7/bb7fb861f7cbcdb5246cb45e466d2260?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dqXqwKpO3K7qJs2L1uN54wZ47zXZ2nreMNUESz4mro5ymg6PJzb075-S5Q-4wzOx3zqmxum1SGpdFzUW2HPISlfTvJy5Xjxh4GBKA5GINvb7ijD1eiHPt8vktCpnSPQy6UG4pHsL3q9Zjw0wNB~LuTysVCEcdt1rSAhvEbjSNDBDprcBEW6qEQt7C21sAaTDdsaIcxsXrmUyc8rRT0bH5Uxrxd7O8aVdFVy02UViqGo9uTYcSawifFO7FACNWpRiq7Kh9dRRuuXdUyK~hNxE9FyIVwIeIcTfLLjWZnaKNVaYeVTO9Tj87IGqJsJej3UrjOJnKFv7gxnlFz-yfiLSHw__" />
				</div>
				<div style="width: 483px; height: 755px; position: relative">
				  <div style="width: 483px; height: 755px; left: 0px; top: 0px; position: absolute">
					<div style="width: 483px; height: 755px; left: 0px; top: 0px; position: absolute">
					  <div style="width: 483px; height: 755px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25)"></div>
					  <div style="width: 436px; height: 236.76px; left: 23px; top: 440px; position: absolute; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word carte">Un noyau fort est la base d'une bonne posture et d'une stabilité accrue. Les exercices pour les abdominaux ne se limitent pas aux redressements assis classiques. Intégrez des exercices de planche, des rotations du tronc et des relevés de jambes pour solliciter l'ensemble des muscles abdominaux. N'oubliez pas de maintenir une bonne technique pour maximiser les avantages tout en minimisant le risque de blessure.</div>
					  <img style="width: 400px; height: 372.84px; left: 10px; top: 14px; position: absolute; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/2266/43e9/4e5ba88774de85e71dcc8f5b20b294e2?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=G5x1E5UGS7osyHhPKD~bTpAxh3D5~3r~lEqFLOzQiiR~qLgKAd2o38-~rO6nko2SVFRjdcUmrR~1jyTakOtiFZ~8KjRjrnIrRqFSEYEKj~MqW0-3oteP5kd6qJvtk1FKPkEcPaggXehbVpFe3ycXRRjWkTgt2FVQxrHXpbiFHWm6pc5gtlLd5Jw9RH5RrAUiQcurdiyFvmh0e423DL~qv7A836Td~5H05NDPCMN1-RXH8Rb98Jc~~BSZZq5dm3RJNaQjt1SIj~dwFGY2N7cRYjODOMywkKcWQZhh0vHia3h3d5pZGpHksbA5222bV-qnHdA59pO1a5jBwCEgmeDm6A__" />
					  <div style="width: 151px; height: 27.25px; left: 146px; top: 415.80px; position: absolute; text-align: center; color: #F9846C; font-size: 20px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Body Sculpt</div>
					  <div style="width: 88px; height: 21px; left: 87px; top: 681px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Amadem fall</div>
					  <div style="width: 65px; height: 20.67px; left: 87px; top: 700.28px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Manager</div>
					</div>
					<div style="width: 436px; height: 0px; left: 23px; top: 657.23px; position: absolute; border: 1px #F1A293 solid"></div>
					<div style="width: 188.17px; height: 34px; left: 259px; top: 687.23px; position: absolute">
					  <div style="width: 188.17px; height: 34px; left: 0px; top: 0px; position: absolute; background: #F9846C; border-radius: 20px"></div>
					  <div style="left: 36px; top: 3px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Suivez-nous</div>
					</div>
				  </div>
				  <img style="width: 50px; height: 50px; left: 23px; top: 674px; position: absolute; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/db3b/aac1/359965fc66857764addb5f5f92a361db?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Xxao4HMUDcAWP~0dgCoSZLuByMqb5vC1kl-42kOWk7ZDx6vJrKIp~a0-dlDFjYkUouO2DxKFdU0n96vV1nS4Ajg3895zbXrXUs3rBJOAezh7qAC7vEpihfI05H9-7ED4-2tXcHTkcMxRCXNEGfGMBrsVddcFCtRmLsJr5bxXnnNDALehzLLKfPsDH5c8tcmg7EURXJ6--LWva0wbcgQnGeOy6k3x5-FdPajbHW1AQ8ah9sDq4ZRtCB1UJX2Ni-5znANBvRdsnwS-vZzmfMxmmVEGwZX35z5ccffgXRu-qdaqVx3aB2~R3oQd01euUsBFoz4xfCfzz-SdU-1P3cOSAw__" />
				</div>
			  </div>
			  <div style="width: 624px; height: 59.63px; left: 518px; top: 0px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Listes Des Cours disponibles</div>
			</div>
			<div class="row">
				<div style="width: 1728px; height: 1038.04px; left: 0px; top: 1693.50px; position: absolute">
			  <div style="width: 155px; height: 20px; left: 772px; top: 0px; position: absolute">
				<div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
				<div style="width: 20px; height: 20px; left: 44px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
				<div style="width: 20px; height: 20px; left: 88px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
				<div style="width: 20px; height: 20px; left: 135px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
			  </div>
			  <div style="width: 1297px; height: 178.88px; left: 231px; top: 160px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Pratiquez le fitness pour parfaire la beauté physique, prendre soin de votre âme et apprécier pleinement la vie !</div>
			  <div style="width: 527px; left: 606px; top: 80px; position: absolute; text-align: center; color: black; font-size: 96px; font-family: Source Sans Pro; font-weight: 700; line-height: 20px; word-wrap: break-word">Les coachs</div>
			  <div style="width: 155px; height: 20px; left: 810px; top: 856.04px; position: absolute">
				<div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
				<div style="width: 20px; height: 20px; left: 44px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
				<div style="width: 20px; height: 20px; left: 88px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
				<div style="width: 20px; height: 20px; left: 135px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
			  </div>
			  <div style="width: 1717px; height: 397.17px; left: 5px; top: 398.88px; position: absolute">
				<div style="width: 540px; height: 385px; left: 0px; top: 0px; position: absolute">
				  <div style="width: 540px; height: 385px; left: 0px; top: 0px; position: absolute">
					<div style="width: 540px; height: 385px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25); border-radius: 50px"></div>
					<div style="width: 30.58px; height: 32px; left: 29.63px; top: 306.45px; position: absolute">
					  <div style="width: 30.58px; height: 32px; left: 0px; top: 0px; position: absolute; background: rgba(159.38, 159.38, 159.38, 0.15); border-radius: 50px"></div>
					  <div style="width: 19.12px; height: 19.40px; left: 5.73px; top: 6.79px; position: absolute">
						<div style="width: 6.76px; height: 6.85px; left: 6.23px; top: 6.32px; position: absolute; background: black; border-radius: 50px"></div>
						<div style="width: 19.12px; height: 19.40px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 50px"></div>
					  </div>
					</div>
					<div style="width: 30.58px; height: 32px; left: 81.24px; top: 306.45px; position: absolute">
					  <div style="width: 30.58px; height: 32px; left: 0px; top: 0px; position: absolute; background: rgba(159.38, 159.38, 159.38, 0.15); border-radius: 50px"></div>
					  <div style="width: 19.12px; height: 19.40px; left: 5.73px; top: 6.79px; position: absolute; background: black; border-radius: 50px"></div>
					</div>
					<div style="width: 30.58px; height: 32px; left: 132.85px; top: 306.45px; position: absolute">
					  <div style="width: 30.58px; height: 32px; left: 0px; top: 0px; position: absolute; background: rgba(159.38, 159.38, 159.38, 0.15); border-radius: 50px"></div>
					  <div style="width: 19.12px; height: 19.40px; left: 5.73px; top: 5.82px; position: absolute; background: black; border-radius: 50px"></div>
					</div>
					<div style="width: 30.58px; height: 32px; left: 178.73px; top: 306.45px; position: absolute">
					  <div style="width: 30.58px; height: 32px; left: 0px; top: 0px; position: absolute; background: rgba(159.38, 159.38, 159.38, 0.15); border-radius: 50px"></div>
					  <div style="width: 19.12px; height: 19.40px; left: 6.69px; top: 3.88px; position: absolute; background: black; border-radius: 50px"></div>
					</div>
					<div style="left: 28.45px; top: 26.15px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Corey Calliet</div>
					<div style="left: 52.43px; top: 68.82px; position: absolute; text-align: center; color: #F9846C; font-size: 32px; font-family: Manrope; font-weight: 300; word-wrap: break-word">manager</div>
					<div style="width: 278.12px; left: 25px; top: 135.68px; position: absolute; color: black; font-size: 13px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Corey Calliet s'est fait un nom en tant que coach de fitness réputé, mettant l'accent sur la transformation physique et mentale. Il a étudié la science de l'exercice et a obtenu des certifications en entraînement personnel, ce qui lui a permis de développer une approche holistique de la remise en forme.</div>
				  </div>
				  <img style="width: 332px; height: 284px; left: 208px; top: 52px; position: absolute" src="https://s3-alpha-sig.figma.com/img/f8ad/380b/e2db4b9e5a0457b1f7aa372e405d7d38?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Dl41QwJ9xtCE0Nv9F2rUyPXN2oqMpHUL550DzAcC7PrwBr1qELTnVplKbVKZ4hUZ4jwAq2xs~by4ZaMnBtmvF9ec0rWgm8DMlriI2RDrOwUGBvWQNr5Moi-ud8Ic9Txv90maSiDQDPrroQk5NHSmR51tG2udwRrBqLwdFwUfWQiFKDjcZyT6XncLtiFOhuZ4t4LWPxr6oWLAGj-2mO0XAyCie8a0xSOZBoG7doWBHtGnVO4LCSOQhhorg2x3Au5yRT3dL~RpxGZuSYlrI5gdNWOAOLBbaYkAgbc945zCyeiio6YMBV0gD0rrL4~jQfFinxH2Z9khBDbqx~XsoLWx-A__" />
				</div>
				<div style="width: 540px; height: 397px; left: 588px; top: 0px; position: absolute">
				  <div style="width: 540px; height: 397px; left: 0px; top: 0px; position: absolute">
					<div style="width: 540px; height: 397px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25); border-radius: 50px"></div>
					<div style="width: 30.58px; height: 33px; left: 29.63px; top: 316px; position: absolute">
					  <div style="width: 30.58px; height: 33px; left: 0px; top: 0px; position: absolute; background: rgba(159.38, 159.38, 159.38, 0.15); border-radius: 50px"></div>
					  <div style="width: 19.12px; height: 20px; left: 5.73px; top: 7px; position: absolute">
						<div style="width: 6.76px; height: 7.06px; left: 6.23px; top: 6.52px; position: absolute; background: black; border-radius: 50px"></div>
						<div style="width: 19.12px; height: 20px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 50px"></div>
					  </div>
					</div>
					<div style="width: 30.58px; height: 33px; left: 81.24px; top: 316px; position: absolute">
					  <div style="width: 30.58px; height: 33px; left: 0px; top: 0px; position: absolute; background: rgba(159.38, 159.38, 159.38, 0.15); border-radius: 50px"></div>
					  <div style="width: 19.12px; height: 20px; left: 5.73px; top: 7px; position: absolute; background: black; border-radius: 50px"></div>
					</div>
					<div style="width: 30.58px; height: 33px; left: 132.85px; top: 316px; position: absolute">
					  <div style="width: 30.58px; height: 33px; left: 0px; top: 0px; position: absolute; background: rgba(159.38, 159.38, 159.38, 0.15); border-radius: 50px"></div>
					  <div style="width: 19.12px; height: 20px; left: 5.73px; top: 6px; position: absolute; background: black; border-radius: 50px"></div>
					</div>
					<div style="width: 30.58px; height: 33px; left: 178.73px; top: 316px; position: absolute">
					  <div style="width: 30.58px; height: 33px; left: 0px; top: 0px; position: absolute; background: rgba(159.38, 159.38, 159.38, 0.15); border-radius: 50px"></div>
					  <div style="width: 19.12px; height: 20px; left: 6.69px; top: 4px; position: absolute; background: black; border-radius: 50px"></div>
					</div>
					<div style="left: 18.89px; top: 28px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Manrope; font-weight: 300; word-wrap: break-word"> Jasmine Patel</div>
					<div style="left: 52.43px; top: 72px; position: absolute; text-align: center; color: #F9846C; font-size: 32px; font-family: Manrope; font-weight: 300; word-wrap: break-word">manager</div>
					<div style="width: 332.60px; left: 22.94px; top: 146px; position: absolute; color: black; font-size: 12px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Certifiée par l'International Fitness Professionals Association (IFPA) et forte de plusieurs années d'expérience dans l'industrie, Jasmine a aidé des individus de tous horizons à atteindre leurs objectifs de remise en forme. Elle se concentre sur l'importance de la flexibilité, de la force et de la conscience corporelle pour créer des changements durables.</div>
				  </div>
				  <div style="width: 357px; height: 308px; left: 202px; top: 27.83px; position: absolute; border-radius: 50px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
					<div style="flex: 1 1 0; align-self: stretch; justify-content: flex-end; align-items: center; display: inline-flex">
					  <img style="width: 442px; height: 308px" src="https://s3-alpha-sig.figma.com/img/eee2/03f9/11c08d8b598f789e1b6ce3c2914b425c?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=olwab6jyR2cf6Zuz9xOYG540VODS-f0oXleM35cg-dojKtTHrGbOggS0PaxhKYJVLBqOkgkhAwOYFw4jTNdv4dk0D6~sR4UO0FJKJpjllDapr9lsj-pv1Wj9YU4S9q8u0o9OaJHR60Q6VDB5klv1fsTQODiXx6BuBUcZygvgzkDO2QUzq0Pbo-pjW5i8Sq5q8ZMmmZ-ETIcOTqFmgLiOpweFJcsBGVASOiWDKbq1AXyp4pxjYX5QvRm9MlvaZB-z~bAIxzhFE7udWJ7AnAAccxn2RNb4gnFRODeu3qsRA1k2BGEvDp3ofheX2N2JQ2H68D7B4j1n1Ptaok3f3EDlgA__" />
					</div>
				  </div>
				</div>
				<div style="width: 541px; height: 397px; left: 1176px; top: 0.17px; position: absolute">
				  <div style="width: 540px; height: 397px; left: 0px; top: 0px; position: absolute">
					<div style="width: 540px; height: 397px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25); border-radius: 50px"></div>
					<div style="width: 30.58px; height: 33px; left: 29.63px; top: 316px; position: absolute">
					  <div style="width: 30.58px; height: 33px; left: 0px; top: 0px; position: absolute; background: rgba(159.38, 159.38, 159.38, 0.15); border-radius: 50px"></div>
					  <div style="width: 19.12px; height: 20px; left: 5.73px; top: 7px; position: absolute">
						<div style="width: 6.76px; height: 7.06px; left: 6.23px; top: 6.52px; position: absolute; background: black; border-radius: 50px"></div>
						<div style="width: 19.12px; height: 20px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 50px"></div>
					  </div>
					</div>
					<div style="width: 30.58px; height: 33px; left: 81.24px; top: 316px; position: absolute">
					  <div style="width: 30.58px; height: 33px; left: 0px; top: 0px; position: absolute; background: rgba(159.38, 159.38, 159.38, 0.15); border-radius: 50px"></div>
					  <div style="width: 19.12px; height: 20px; left: 5.73px; top: 7px; position: absolute; background: black; border-radius: 50px"></div>
					</div>
					<div style="width: 30.58px; height: 33px; left: 132.85px; top: 316px; position: absolute">
					  <div style="width: 30.58px; height: 33px; left: 0px; top: 0px; position: absolute; background: rgba(159.38, 159.38, 159.38, 0.15); border-radius: 50px"></div>
					  <div style="width: 19.12px; height: 20px; left: 5.73px; top: 6px; position: absolute; background: black; border-radius: 50px"></div>
					</div>
					<div style="width: 30.58px; height: 33px; left: 178.73px; top: 316px; position: absolute">
					  <div style="width: 30.58px; height: 33px; left: 0px; top: 0px; position: absolute; background: rgba(159.38, 159.38, 159.38, 0.15); border-radius: 50px"></div>
					  <div style="width: 19.12px; height: 20px; left: 6.69px; top: 4px; position: absolute; background: black; border-radius: 50px"></div>
					</div>
					<div style="left: 22.72px; top: 28px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Alex Rodrigez</div>
					<div style="left: 52.43px; top: 72px; position: absolute; text-align: center; color: #F9846C; font-size: 32px; font-family: Manrope; font-weight: 300; word-wrap: break-word">manager</div>
					<div style="width: 249.45px; left: 14.34px; top: 150px; position: absolute; color: black; font-size: 12px; font-family: Manrope; font-weight: 300; word-wrap: break-word">Certifié par la National Academy of Sports Medicine (NASM) et détenteur d'une certification en coaching de vie, Alex adopte une approche holistique de la remise en forme en mettant l'accent sur le bien-être mental et émotionnel de ses clients. </div>
				  </div>
				  <div style="width: 338px; height: 308px; left: 203px; top: 35.83px; position: absolute; border-radius: 50px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
					<div style="width: 362px; align-self: stretch; justify-content: flex-end; align-items: center; display: inline-flex">
					  <img style="width: 442px; height: 308px" src="https://s3-alpha-sig.figma.com/img/b779/7473/47d514418b129c6f7ed3da89d6c3c709?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AAESZOwbtwCSAnpi7y6QWpNOkzlvIBttbNdiQnWkELr3ZEgbCrSbU-gje6ucRqnadhCOkmQZIQb39jAAXfjxI1cQJYXZdrHD2gmpQxGHZ6FJfTgxC5FhWizlsDJNb9jXLcOzjvB-eLa58YITzsbZj-GcKwehB58jrKhrM6Z9~NG59T0O8saUPq8oCh4fPcummZSgfpsGl7EgZ-8jO4d~0MgadGBfjphHdJigH5JyIEKGbixVEostdz0hucpyPBX3qPpjx29dW4hTvablWHyWUD6n60YPzu4K9HhTPZv-15qvQii9eENWNaFYED3pyEDmgTHBW37oGsXaRD~nG7LT5Q__" />
					</div>
				  </div>
				</div>
			  </div>
			  <div style="width: 1728px; height: 91px; left: 0px; top: 947.04px; position: absolute">
				<div style="width: 1728px; height: 91px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
				  <div style="width: 1728px; height: 91px; justify-content: center; align-items: center; display: inline-flex">
					<div style="width: 1728px; height: 91px; background: #F9846C"></div>
				  </div>
				</div>
				<div style="width: 803.25px; height: 7px; left: 489.70px; top: 30px; position: absolute; background: white"></div>
				<div style="width: 824px; left: 487.43px; top: 55px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Copyright © 2020 FIT-TOGETHER - Designed by FATY-IMALET</div>
			  </div>
			</div>

			</div>
		  </div>
		</div>
		<div style="width: 215vh; left: -50px; top: 0px;  justify-content: flex-start; align-items: flex-end; gap: 123px; display: inline-flex">
		  <div style="width: 1728px; height: 403.62px; position: relative">
			<div style="width: 100%; height: 350px; left: 0px; top: 0px; position: absolute; background: black"></div>
			<img style="width: 495px; height: 322px; left: 903px; top: 15px; position: absolute" src="https://s3-alpha-sig.figma.com/img/082c/343b/c5e1dcfef151e58aed2e1ef759efd9aa?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nSZ3vMqNdOi4NbPMQGuQW1CvUvpjPHNnN5JawLVCGCemWm~hjN0rKNIjJsAfx5o44PQ8MHmcV0u-i5gmtcQbkFqD3m~ye5FMXoDuMu1dfO~qfoQz8iEJ9t4ggdl~xXcUWfsjFcRnng798FyErT0MRlVG4SUWqwTFizrSIqUfGFL~jPmC2OacLoG2Cd1WEBkpS4H3yBqhaRFcd~~wFiK8e2ebPn6BmU-DRwcC3ih7ISSwbCvimhTjYBiFeQT6zHXATuiBTsD2uKrG2QxrggMUJbFMSwu6qpXi7gCHbv9t9d6kptC2vI1n4Uiq2CIQiIGIo-08dW7qYADNcF5MDPzrLw__" />
			<div style="width: 749px; left: 77px; top: 130px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Dans chaque goutte de sueur, dans chaque répétition, vous sculptez bien plus que des muscles. Vous sculptez la détermination, la résilience, et la force intérieure qui réside en vous</div>
		  </div>
		 
		</div>
		<!-- <div style="left: 646px; top: 21px; position: absolute; color: white; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">A propos</div>
		<div style="left: 467px; top: 21px; position: absolute; color: black; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Acceuil</div>
		<div style="left: 847px; top: 21px; position: absolute; color: white; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Contact</div>
		<div style="left: 1034px; top: 21px; position: absolute; color: white; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Post</div>
		<div style="width: 167px; height: 50px; left: 1405px; top: 27px; position: absolute">
		  <img style="width: 58px; height: 50px; left: -80px; top: 0px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/e81e/bb52/8046ca96f7ede643d4afb63eca6ca11d?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UrbcLL-gX8aMaxpm3DU6FEzGG36tIIKfxI-VrsiXl49oKI0qua3TJSIvspFuDz9CiehD0jhFKnk3t4JL-l3PdGh5qwdWQYcIPrgzbLK7kA-aamWHpMJpHZIkLnjHduvNx76AYAuO9-jjgG8ihEFPSDhrLDEjpxiaKZUIRoqTKsPelGWbMWAuWPQhBmWjuJ645A-bH7ZHFpvjlPrU6gQY5Zb33P~Erq~t73w5iFczwj-CpBvp9kitoLsXy8-yaglcokCQxld5dZqk9PRVgaYm5xDTdvL3EwZ0aK0sVPpk~Gz1I80r~cO8kx4-J--YdhDOjoou1eIi0mrChrz6Qg4QLQ__" />
		  <div style="left: -15px; top: 11px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 700; line-height: 24px; word-wrap: break-word">Mariama</div>
		</div> -->
	  </div>
</body>
</html>