/* *{
    border: solid red;
} */

.debut{
    margin-top: 27%;
    text-align: center;
}
body {
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.2;
    color: #ffffff;
    margin: 1rem;
    background: #E91F23;
    height: 100vh;
  }
  .container {
      padding-top: 900px;
      max-width: 1185px;
      margin: 0 auto;
      min-height: 80vh;
  }
  .row {
    align-items: flex-start;
    display: flex;
  }
  
  .card-container {
    box-shadow: 0 20px 20px rgba(0,0,0,.08);
    background-color: #E91F23;
    white-space: normal;
    margin: 20px;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    color: #E91F23;
    white-space: normal;
    background-color: #f4f4f4;
  }
  
  .card-container:hover {
    box-shadow: 0 40px 40px rgba(0,0,0,.16);
    transform: translate(0,-20px);
    transition-delay: 0s !important;
  }
  
  .ani-border {
    display: inline-block;
    color: #E91F23;
    text-decoration: none;
  }
  
  .ani-border::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #E91F23;
    transition: width .5s;
  }
  
  .ani-border:hover::after {
    width: 100%;
    transition: width .3s;
  }
  
  
  
  .card-content-video {
    display: inline-block;
    position: relative;
    width: 300px;
    vertical-align: top;
    text-align: left;
    height: 1px;
    padding: 20px;
  }
  
  .card-content-heroic {
    display: inline-block;
    position: relative;
    width: 300px;
    vertical-align: top;
    text-align: left;
    height: 124px;
    padding: 20px;
  }
  
  .card-content {
    display: inline-block;
    position: relative;
    width: 300px;
    vertical-align: top;
    text-align: left;
    height: 370px;
    padding: 20px;
  }
  
  .card-body {
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    overflow: visible;
    z-index: 2;
  }
  
  .card-blog-intro {
    opacity: 0.7;
  }
  
  .card-hero {
    background-color: white;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    clear: both;
    float: left;
    overflow: auto;
    width: 100%;
  }
  
  .card-image {
    width: 100%;
    height: 140px;
    border: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .card-heroic .card-image {
    height: 246px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .card-heroic-video .card-image {
    height: 370px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  h2 {
    color: #232a31;
    margin: 0 0 1rem 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
  }  
  
  .pb {
    padding: 0px 0px 20px 0px;
  }
  
  .round {
      width: 40px;
      height: 40px;
      margin-bottom: .75rem;
      border-radius: 100%;
      display: none;
  }  
  
  p {
    margin: 0;
    font-size: 14px;
    line-height: 1.35rem;
    color: #38434F;
  }
  
  p.category {
    font-size: 12px;
    color: #A5ACB4;
    padding-top: 15px;
  }
  
  .card-footer {
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .videoplayimage {
      position: absolute;
      top: -500%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 66px;
      height: 66px;
      margin-bottom: 20px;
  }
  
  input {
    position: absolute;
    top: 20px;
    left: 5vw;
    width: 90vw;
  }
  .container{
    margin-top: -60%;
  }
  .regime{
    left: 504px;
    top: 11px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
}
.contact{
    left: 379px; 
    top: 10px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.propos{
    left: 248px; 
    top: 10px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.service{
    left: 127px; 
    top: 10px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.acceuil{
    left: 0px; 
    top: 10px; 
    position: absolute; 
    color: #E91F23; 
    font-size: 20px; 
    font-family: Poppins; 
    font-weight: 700; 
    word-wrap: break-word
}
.connnecter{
    width: 100px; 
    height: 30px; 
    left: 83%; 
    top: 10px; 
    position: absolute; 
    background: linear-gradient(0deg, #E91F23 0%, #E91F23 100%); 
    border-radius: 100px; 
    color: white; 
    border: none
}
