<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="page-propos.component.css">
  <title>page A propos</title>
</head>
<body>
  <div class="row">
    <div style="width: 100%; height: 100%; background: white; flex-direction: column; justify-content: center; align-items: flex-start; gap: 34px; display: inline-flex">
      <div style="width: 1728px; height: 373px; position: relative">
          <!-- <img style="width: 1728px; height: 373px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1728x373" /> -->
          <div style="width: 167px; height: 50px; left: 1405px; top: 27px; position: absolute">
              <!-- <img style="width: 58px; height: 50px; left: 0px; top: 0px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 9999px" src="https://via.placeholder.com/58x50" /> -->
              <div style="left: 65px; top: 11px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 700; line-height: 24px; word-wrap: break-word">Mariama</div>
          </div>
          <div style="width: 115px; height: 20.92px; left: 731px; top: 26.70px; position: absolute; color: white; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Contact</div>
          <div style="width: 107px; height: 20.92px; left: 583px; top: 26.70px; position: absolute; color: white; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Regime</div>
          <div style="width: 107px; height: 20.92px; left: 420px; top: 26.70px; position: absolute; color: white; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Service</div>
          <div style="width: 129px; height: 20.47px; left: 244px; top: 26.70px; position: absolute; color: #454545; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">A propos</div>
          <div style="width: 129px; height: 20.47px; left: 84px; top: 26.70px; position: absolute; color: white; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Accueil</div>
      </div>
      <div style="align-self: stretch; height: 724px; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 1728px; height: 2039px; position: relative">
              <div style="width: 1728px; height: 91px; left: 0px; top: 1948px; position: absolute">
                  <div style="width: 1728px; height: 91px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                      <div style="width: 1728px; height: 91px; justify-content: center; align-items: center; display: inline-flex">
                          <div style="width: 1728px; height: 91px; background: #F9846C"></div>
                      </div>
                  </div>
                  <div style="width: 803.25px; height: 7px; left: 489.70px; top: 28px; position: absolute; background: white"></div>
                  <div style="width: 824px; left: 487.43px; top: 53px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Copyright © 2020 FIT-TOGETHER - Designed by FATY-IMALET</div>
              </div>
              <div style="left: 630px; top: 0px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Open Sans; font-weight: 700; line-height: 25.60px; word-wrap: break-word">A PROPOS DE NOUS</div>
              <div style="width: 1591px; height: 540px; left: 68px; top: 86px; position: absolute">
                  <img style="width: 946px; height: 540px; left: 0px; top: 0px; position: absolute; box-shadow: 4px 0px 0px rgba(0, 0, 0, 0.25); border-top-left-radius: 50px; border-top-right-radius: 50px" src="https://s3-alpha-sig.figma.com/img/dcac/171e/df7cc3af1a87c73860e160fab5d15eae?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZWAjH7o7XW~tfy2mNhLpZClL9u5KEwEcuhFJI-3pzfEfW~VqH208o~vjp6m-o~l5KZTS~9jB5SPNvtTc17pdZIQ4tNuQ9aOjIZYpf0hvCWOmudV2c5CjE~cQr7kE20j2iMUySb0R4XwjBxvdQmi9IoRHab6Na-k74tvY-Y0NsJJ7~83mnWmAFpfZ-~G3fpeUKmnQ3lsSdHlLT-pRHY0qertB-YRbUwPuNwFmzV4pISg~x2EkzkbbZepuYscPaJR8cit7gZPtesa95oksRu3kxs6b3O8Mvggf8rzUtSk~Rxz4h0deZy7XGVspc8inKow2p2hMUiqYzsAWP9mZ2wbWiQ__" />
                  <div style="width: 645px; height: 540px; left: 946px; top: 0px; position: absolute">
                      <div style="width: 645px; height: 540px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25); border-top-left-radius: 30px; border-top-right-radius: 30px; border: 1px #F9846C solid"></div>
                      <div style="width: 586px; height: 455px; left: 29px; top: 60px; position: absolute; color: #5A5A5A; font-size: 32px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Notre mission est simple : mettre en place une communauté virtuelle où les amateurs de fitness, qu'ils soient novices ou experts, peuvent se connecter, s'entraîner et se motiver mutuellement. Nous croyons fermement que le bien-être physique est une aventure collective, et c'est pourquoi nous avons conçu une plateforme qui offre bien plus que des cours en ligne. Fit-Together représente une communauté dynamique qui fusionne l'expertise de nos instructeurs certifiés avec la flexibilité de l'apprentissage à distance.</div>
                  </div>
              </div>
              <div style="width: 1000px; height: 545px; left: 68px; top: 756px; position: absolute">
                  <img style="width: 946px; height: 540px; left: 645px; top: 5px; position: absolute; box-shadow: 4px 0px 0px rgba(0, 0, 0, 0.25); border-top-left-radius: 50px; border-top-right-radius: 50px" src="https://s3-alpha-sig.figma.com/img/bacb/4167/3e5db4d54f8c59e9288c1a8236e8bc6c?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qFdrnqLEqpIi7Arvhpe39wIP6WARUhNqRXvuWB64DRgva4HVLdTSLpbTYLY0RN~dk3dSXPaWZGI0Y756ts4cAphiMNUvnsELj4fQXY9Mx3j6QKKsCQlluNWV06OuQGclZNRItsTIHsOWXg5mZk-YZtby2~EVgn6qTkKcd5A1xHt-f3aqT~oR6sS7KKOrehzFUStujOwWoeorGQfH-Vh64E78bRONutI4CduKsdtiz4PK7mpw3xSS4yjyKNGLFKhn-KfBkJ2hhShRXm2VsgzNBgxTCpsICOr2LATAzgeWipvsJqnvwaP7-5XIYxcC9txf~hMnyWvnRCahnhOtWRalvg__" />
                  <div style="width: 645px; height: 540px; left: 0px; top: 0px; position: absolute">
                      <div style="width: 645px; height: 540px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25); border-top-left-radius: 30px; border-top-right-radius: 30px; border: 1px #F9846C solid"></div>
                      <div style="width: 586px; height: 455px; left: 29px; top: 13px; position: absolute; color: #5A5A5A; font-size: 32px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Que vous soyez un passionné de yoga, un adepte du cardio intense, ou que vous cherchiez simplement à adopter un mode de vie plus actif, nous avons soigneusement sélectionné une variété de cours adaptés à tous les niveaux et à toutes les préférences. Notre plateforme est votre salle de sport virtuelle, accessible depuis n'importe quel coin du globe, 24 heures sur 24.Rejoignez-nous dans cette aventure Fit-Together, où la technologie rencontre la transformation personnelle. Ensemble, nous construisons un avenir où la santé et le bien-être ne connaissent pas de limites.</div>
                  </div>
              </div>
              <div style="width: 265px; height: 10px; left: 731px; top: 686px; position: absolute; background: #F9846C"></div>
              <div style="left: 582px; top: 1361px; position: absolute; text-align: center; color: black; font-size: 64px; font-family: Open Sans; font-weight: 400; line-height: 25.60px; word-wrap: break-word">Retour Des Coachs</div>
              <div style="width: 1629px; height: 361px; left: 49px; top: 1447px; position: absolute">
                  <div style="width: 521px; height: 361px; left: 0px; top: 0px; position: absolute">
                      <div style="width: 521px; height: 340px; left: 0px; top: 21px; position: absolute">
                          <div style="width: 521px; left: 0px; top: 22px; position: absolute; text-align: center; color: #5A5A5A; font-size: 20px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Fit-Together est une véritable révolution dans le domaine du cardio en ligne. Les fonctionnalités interactives, comme le suivi en temps réel et les défis entre participants, ajoutent une dimension compétitive qui motive vraiment. La qualité vidéo est exceptionnelle, et la plateforme offre une grande souplesse pour planifier des séances dynamiques. C'est un plaisir d'être coach sur Fit-Together!</div>
                          <img style="width: 130px; height: 130px; left: 10px; top: 190px; position: absolute; background: linear-gradient(0deg, white 0%, white 100%); box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.07); border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/ce41/7dd1/fbcf38f539c700fa0fe744f3caffd5c5?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lLS-cZ12bHtQK0-TVW4VAT3TaYDrOUAV3rUXzYtvZhTOf4F4B4UBFEt6Uw3Tml6M7~SXhWXB5ejpAgvFsbbloQq-ZXO5VljKbULwxGfLH4rZqUtg58SPlLr~oFMmbekAmmPnrWBjHQWw1LuuUUo2nGggHs-w2a7ofEYDeO48OD13xYPBBL3iISRBUFyp0uFMwJl8TsHWAhkeE0rx9w6lwsdYxNC3wOQcorev~lo2IKszfyhN1LRdQN--5EZcVBiG4E8IXyB-~f-cy92OA1rUYXapPNy9AGLjFe1Jcqp443cyaJi8nGjTi6ckNAs8ZQ2-TQ7~Jf7AWmt3Nxo7SNuXjQ__" />
                          <div style="left: 182px; top: 237px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Lobe dia</div>
                          <div style="left: 182px; top: 276px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">manager</div>
                      </div>
                      <div style="width: 49px; height: 38px; left: 27px; top: 0px; position: absolute">
                          <div style="width: 49px; height: 38px; left: 0px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
                          <div style="width: 30px; height: 25px; left: 9px; top: 6px; position: absolute">
                              <div style="width: 12.86px; height: 25px; left: 17.14px; top: -0px; position: absolute; background: white"></div>
                              <div style="width: 12.86px; height: 25px; left: 0px; top: 0px; position: absolute; background: white"></div>
                          </div>
                      </div>
                  </div>
                  <div style="width: 521px; height: 361px; left: 554px; top: 0px; position: absolute">
                      <div style="width: 521px; height: 340px; left: 0px; top: 21px; position: absolute">
                          <div style="width: 521px; left: -18px; top: 22px; position: absolute; text-align: center; color: #5A5A5A; font-size: 20px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Fit-Together offre une approche innovante pour l'entraînement fonctionnel en ligne. La bibliothèque de cours préenregistrés est vaste, ce qui me permet de toucher un public diversifié. Les outils de communication facilitent les échanges avec mes participants, et la plateforme encourage vraiment une communauté d'entraide. En tant que coach, je suis impressionnée par l'engagement constant envers l'excellence. </div>
                          <img style="width: 130px; height: 130px; left: 10px; top: 199px; position: absolute; background: linear-gradient(0deg, white 0%, white 100%); box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.07); border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/6857/2773/7e53d07504e526503b5371f45edfb64c?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=LI0vFqUKzrYz2kgBDQxS1ccfWk~X5yOtZGytSRe9~Bb1PI9Tk319Z3h8hLlk86X8QJFl~x7xk7t28aCYHvFUEr1m-ELs1rRG0nV5ANyv3X-miRoQBFl6IzF~cEKGu7FQ4T2F5WyKw4ABirblA2Kjzl32-fdmgRcv2pPp98XEAUGruuR4XczEWE6ZPT3vZ0S94RzzWnOcynYT9bQEKr3guJpqAlACIAR-KY66aPli8dPduL0LbzrDl8992TC0tEq1ibaZvr1ZDuBi-T7xrzMMois3pwoDFyW3fsyoT6bTaSfXVy3f-6DNTWwpQ3E8HjLVIi2uc6pUT5TlesD4Ae6JZg__" />
                          <div style="left: 186px; top: 237px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">moussa </div>
                          <div style="left: 182px; top: 276px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">manager</div>
                      </div>
                      <div style="width: 49px; height: 38px; left: 27px; top: 0px; position: absolute">
                          <div style="width: 49px; height: 38px; left: 0px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
                          <div style="width: 30px; height: 25px; left: 9px; top: 6px; position: absolute">
                              <div style="width: 12.86px; height: 25px; left: 17.14px; top: -0px; position: absolute; background: white"></div>
                              <div style="width: 12.86px; height: 25px; left: 0px; top: 0px; position: absolute; background: white"></div>
                          </div>
                      </div>
                  </div>
                  <div style="width: 521px; height: 361px; left: 1108px; top: 0px; position: absolute">
                      <div style="width: 521px; height: 340px; left: -30px; top: 21px; position: absolute">
                          <div style="width: 521px; left: 0px; top: 20px; position: absolute; text-align: center; color: #5A5A5A; font-size: 20px; font-family: Open Sans; font-weight: 300; word-wrap: break-word">Travailler avec Fit-Together a été une expérience incroyable. La plateforme offre une grande flexibilité pour concevoir mes cours de yoga, et l'interaction en direct avec les participants crée une connexion authentique. J'apprécie également la variété des outils disponibles pour personnaliser les séances et suivre les progrès de mes élèves. C'est un environnement enrichissant qui facilite vraiment l'enseignement du yoga en ligne. </div>
                          <img style="width: 130px; height: 130px; left: 10px; top: 190px; position: absolute; background: linear-gradient(0deg, white 0%, white 100%); box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.07); border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/e65b/eb3e/fb3db074d88b68f354ff99cad5e12228?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TXTa~PRZrHCuE-6~LxhJL4DSB59NDbFPhAJirJeDsRPQXAuv5n69Cc~r-qx-ejIApk9K7rGCnAJTSN35-sQz-0qUU-hPWFFtuOVdMUnk0DrpM01jUh5fOWopO9wBxHod5PoxbiavWwS0x87zwxI3t0zE2kNj4ZE0f3xEweTR~LNHkfoPv2Ec2nB-GXipxz4N5hdcdETelthp0ZxZG~cNeUVgEF177kHGesV9-q7RODK4nXtz4AX6u0GlBpX88tuRCu0EkdlYcQpd~QX4~piKznArpXLoVTebC9bXGEUquXli6eRlW95bLl~k-y7AxvaJbmsUPtHMztxALPOHSaRcMw__" />
                          <div style="left: 180px; top: 237px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">mariama</div>
                          <div style="left: 182px; top: 276px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">manager</div>
                      </div>
                      <div style="width: 49px; height: 38px; left: 27px; top: 0px; position: absolute">
                          <div style="width: 49px; height: 38px; left: 0px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
                          <div style="width: 30px; height: 25px; left: 9px; top: 6px; position: absolute">
                              <div style="width: 12.86px; height: 25px; left: 17.14px; top: -0px; position: absolute; background: white"></div>
                              <div style="width: 12.86px; height: 25px; left: 0px; top: 0px; position: absolute; background: white"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div style="width: 155px; height: 20px; left: 800px; top: 1868px; position: absolute">
                  <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
                  <div style="width: 20px; height: 20px; left: 44px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
                  <div style="width: 20px; height: 20px; left: 88px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
                  <div style="width: 20px; height: 20px; left: 135px; top: 0px; position: absolute; background: #F9846C; border-radius: 9999px"></div>
              </div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>