<div style="width: 100%; height: 79px; left: -5px; top: 0px; position: absolute">
    <div style="width: 100%; height: 79px; left: -20px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 1000px; height: 50px; left: 33%; top: 14px; position: absolute">
        <button  style="width: 100px; height: 30px; left: 83%; top: 10px; position: absolute; background: linear-gradient(0deg, #E91F23 0%, #E91F23 100%); border-radius: 100px; color: white; border: none;"  ><a [routerLink]="['/connexion']" routerLinkActive="router-link-active" ></a> Se connecter</button> 
        <div style="left: 0px; top: 10px; position: absolute; color: #E91F23; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Accueil</div>
        <div   style="left: 127px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word" >Service</div>
        <div  style="left: 248px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">A propos</div>
        <div   style="left: 379px; top: 10px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word"  >Contact</div>
        <div  style="left: 504px; top: 11px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word"  >regime</div>
    </div>
</div>
<div style="width: 99%; height: 303.62px; left: -12px; top: 10%; position: absolute; background: black"></div>
<img style="width: 495px; height: 300px; left: 820px; top: 77px; position: absolute" src="https://s3-alpha-sig.figma.com/img/5f9a/2e39/89b050163956ad6f6b98b4f7e2ae9082?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AFkr1JpVOjDSAvcuYWGTwbfqpV3~aEuiXdLn3zo4TSFc2CZXwXWqP7sEkAvYwndlZzBg1o1iGxrl5T9MXTfG0NUyH174S-sMOrgEEV2HV~MI9uV3HKEgU5GdJwYRSaU~6YmJfMopqBGHbhFd1AnhUHZ-f0lDIMIFCIuMHmS21HJvUW4ICFObYAMUlRQDsrIZgNoWCut~tSH-qUejYQSNyE4EgNcUcOIsW0d8PDuYEUl8-N3uaAh79eqCi-m87-FolO9srCf~81w3PrWs7rEHXQYkHqBtJTbrphWUso7wKtoRN5dxAg9nmLPUDvpmVvDT7gidLjXEA-0nYS-2OC458g__" />
<div style="width: 749px; left: 60px; top: 170px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Bienvenue sur notre plateforme Fit-Together, l'espace numérique où la passion pour la remise en forme rencontre la commodité de l'apprentissage en ligne. Chez Fit-Together, nous nous engageons à créer une expérience unique et inspirante qui transcende les frontières physiques pour vous permettre de vivre une vie plus saine, plus active et plus épanouissante.</div>
<div class=" debut">
    <h1 class="color-black">BLOG</h1>
</div>
<div>
    <div class="container">  
        <div class="row"> 
         <div class="card-container"> 
          <a class="ani-border" href="#">
            <div class="card-content">  
              <div class="card-body">
                <img src="https://plus.unsplash.com/premium_photo-1672352100479-b09df32e7ed0?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTd8fGZpdG5lc3N8ZW58MHx8MHx8fDA%3D" class="round">
                <h2> Ensemble vers la forme physique ! Des programmes personnalisés et motivants pour atteindre vos objectifs fitness.</h2>
                <p class="pb">Embarquez dans l'aventure Fit-Together, où chaque séance d'entraînement devient une étape vers une meilleure version de vous-même. Nos programmes personnalisés sont conçus pour vous inspirer, vous motiver et vous guider tout au long de votre parcours fitness.</p>
              </div>
              <div class="card-hero">
                <div class="card-image" style="background-image: url(https://plus.unsplash.com/premium_photo-1672352100479-b09df32e7ed0?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTd8fGZpdG5lc3N8ZW58MHx8MHx8fDA%3D);">
                </div>
              </div>
              <div class="card-footer">
                <p class="category">Nov 27, 2022 &nbsp;&nbsp;&nbsp;&nbsp;Fit-together</p>
              </div>  
            </div> 
         </a>
         </div>
          
         <div class="card-container"> 
          <a class="ani-border" href="#">
            <div class="card-content">  
              <div class="card-body">
                <img src="https://static.hudl.com/craft/_square300/anthony-galvan.jpg?mtime=20170222151607" class="round">
                <h2> Bien plus qu'une salle de sport, une communauté solidaire qui vous encourage à vous surpassers.</h2>
                <p class="pb">Fit-Together n'est pas seulement une salle de sport, c'est une communauté solidaire qui transcende les limites de l'entraînement physique. Nous sommes plus qu'un lieu où transpirent les efforts ; nous sommes un réseau de passionnés.</p>
              </div>
              <div class="card-hero">
                <div class="card-image" style="background-image: url(https://images.unsplash.com/photo-1518611012118-696072aa579a?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGZpdG5lc3N8ZW58MHx8MHx8fDA%3D);">
                </div>
              </div>
              <div class="card-footer">
                <p class="category">Nov 30, 2022 &nbsp;&nbsp;&nbsp;&nbsp;fit-Together</p>
              </div>  
            </div> 
         </a>
         </div>
         
         <div class="card-container"> 
          <a class="ani-border" href="#">
            <div class="card-hero card-heroic">
                  <div class="card-image" style="background-image: url(https://img.freepik.com/free-photo/real-food-pyramid-assortment-top-view_23-2150238927.jpg?size=626&ext=jpg&ga=GA1.2.999429239.1696939061&semt=sph);">
                </div>
              </div>
            <div class="card-content-heroic card-heroic">  
              <div class="card-body">
                <h2>Des conseils nutritionnels et des programmes d'entraînement adaptés à vos besoins et à votre mode de vie</h2>
                <p class="pb">.</p>
              </div>
              <div class="card-footer">
                <p class="category">Dec 2, 2022 &nbsp;&nbsp;&nbsp;&nbsp;</p>
              </div>  
            </div> 
         </a>
         </div>
        </div>
          
        <div class="row"> 
         <div class="card-container"> 
          <a class="ani-border" href="#">
            <div class="card-content">  
              <div class="card-body">
                <img src="https://static.hudl.com/craft/_square300/44660508221_a450632913_k.jpg?mtime=20221019101408" class="round">
                <h2>Un accompagnement personnalisé par des coachs experts pour vous aider à dépasser vos limites</h2>
                <p class="pb">Fit-Together offre bien plus qu'un simple programme de fitness. Notre approche unique repose sur un accompagnement personnalisé par des coachs experts, dédiés à vous aider à dépasser vos limites.</p>
              </div>
              <div class="card-hero">
                <div class="card-image" style="background-image: url(https://images.unsplash.com/photo-1627483298423-03e2e972431c?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODN8fGZpdG5lc3N8ZW58MHx8MHx8fDA%3D);">
                </div>
              </div>
              <div class="card-footer">
                <p class="category">Nov 27, 2022 &nbsp;&nbsp;&nbsp;&nbsp;fit-together</p>
              </div>  
            </div> 
         </a>
         </div>
          
         <div class="card-container"> 
          <a class="ani-border" href="#">
            <div class="card-content">  
              <div class="card-body">
                <img src="https://static.hudl.com/craft/_square300/anthony-galvan.jpg?mtime=20170222151607" class="round">
                <h2>Ils vous proposeront des conseils personnalisés et vous aideront à corriger vos postures pour maximiser vos résultats</h2>
                <p class="pb"> Grâce à cette approche personnalisée, chaque séance d'entraînement devient une opportunité d'apprentissage, vous permettant d'améliorer votre forme physique de manière sûre et efficace.</p>
              </div>
              <div class="card-hero">
                <div class="card-image" style="background-image: url(https://images.unsplash.com/photo-1607962837359-5e7e89f86776?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTI4fHxmaXRuZXNzfGVufDB8fDB8fHww);">
                </div>
              </div>
              <div class="card-footer">
                <p class="category">Nov 30, 2022 &nbsp;&nbsp;&nbsp;&nbsp;fit-Together</p>
              </div>  
            </div> 
         </a>
         </div>
         
          <div class="card-container"> 
          <a class="ani-border" href="#">
            <div class="card-content">  
              <div class="card-body">
                <img src="https://static.hudl.com/craft/_square300/anthony-galvan.jpg?mtime=20170222151607" class="round">
                <h2>Nos coachs experts sont à votre disposition pour vous guider et vous motiver tout au long de votre parcours</h2>
                <p class="pb">Chez Fit-Together, nos coachs experts sont bien plus que des entraîneurs. Ils sont là pour vous guider et vous motiver tout au long de votre parcours fitness.</p>
              </div>
              <div class="card-hero">
                <div class="card-image" style="background-image: url(https://img.freepik.com/free-photo/full-shot-people-training-together-gym_23-2150289968.jpg?size=626&ext=jpg&ga=GA1.2.999429239.1696939061&semt=ais);">
                </div>
              </div>
              <div class="card-footer">
                <p class="category">Nov 30, 2022 &nbsp;&nbsp;&nbsp;&nbsp;fit-Together</p>
              </div>  
            </div> 
         </a>
         </div>
        </div>
        
        
        <div class="row"> 
         <div class="card-container"> 
          <a class="ani-border" href="#">
            <div class="card-content">  
              <div class="card-body">
                <img src="https://static.hudl.com/craft/_square300/Screen-Shot-2016-06-29-at-10.14.53-AM.png?mtime=20160629101516" class="round">
                <h2>Nos programmes personnalisés et motivants s'adaptent à tous les niveaux et à tous les besoins</h2>
                <p class="pb">“Découvrez une approche fitness unique chez Fit-Together, où nos programmes personnalisés et motivants s'adaptent à tous les niveaux et à tous les besoins.”</p>
              </div>
              <div class="card-blog-intro">
                <p>
                    Que vous soyez novice en fitness ou un adepte chevronné, nos coachs experts conçoivent des séances sur mesure pour vous aider à atteindre vos objectifs. Chaque programme est conçu avec soin, intégrant des exercices variés et stimulants. Rejoignez-nous pour une expérience fitness qui évolue avec vous, quel que soit votre point de départ.
                </p>
              </div>
              <div class="card-footer">
                <p class="category">Nov 27, 2022 &nbsp;&nbsp;&nbsp;&nbsp;fit-together</p>
              </div>  
            </div> 
         </a>
         </div>
          
         <div class="card-container"> 
          <a class="ani-border" href="#">
            <div class="card-content">  
              <div class="card-body">
                <img src="https://static.hudl.com/craft/_square300/Jack-Headshot.png?mtime=20220905105214" class="round">
                <h2>Votre partenaire pour une vie plus saine et plus active</h2>
                <p class="pb">Teams can’t wait to put Hudl Sideline’s instant replay technology to use. And they aren’t afraid to show it.</p>
              </div>
              <div class="card-hero">
                <div class="card-image" style="background-image: url(https://img.freepik.com/premium-photo/young-athletes-exercising-with-kettlebells_107420-56890.jpg?size=626&ext=jpg&ga=GA1.2.999429239.1696939061&semt=ais);">
                </div>
              </div>
              <div class="card-footer">
                <p class="category">Nov 30, 2022 &nbsp;&nbsp;&nbsp;&nbsp;fit-Together</p>
              </div>  
            </div> 
         </a>
         </div>
         
         <div class="card-container"> 
          <a class="ani-border" href="#">
            <div class="card-hero card-heroic-video ">
              <div class="card-image" style="background-image: url(https://img.freepik.com/free-photo/focused-black-man-holding-dumbbells-boxing_1262-16102.jpg?size=626&ext=jpg&ga=GA1.1.999429239.1696939061&semt=ais);">
              </div>
              </div>
            <div class="card-content-video"> 
              <img class="videoplayimage" src="https://cdn.theplayerstribune.com/static/images/video_play.svg">
              <div class="card-footer">
                <p class="category">Nov 30, 2022 &nbsp;&nbsp;&nbsp;&nbsp;fit-Together</p>
              </div>
            </div> 
         </a>
         </div>
        </div>
        </div>
</div>
  <!-- Section footer -->
    <footer>
        <div style="width: 100%; height: 183px; left: 0px; position: absolute">
            <div style="width: 100%; height: 183px; left: 0px; top: 0px; position: absolute; background: black; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 100%; height: 183px; background: black"></div>
            </div>
            <div style="width: 240.30px; left: 1200px; top: 48px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Newsletter</div>
            <div style="width: 27px; height: 20px; left: 263.25px; top: 139px; position: absolute">
                <div style="width: 16.20px; height: 12px; left: 5.40px; top: 4px; position: absolute; background: white"></div>
                <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
            </div>
            <div style="width: 27px; height: 20px; left: 317.25px; top: 139px; position: absolute">
                <div style="width: 16.20px; height: 10px; left: 5.40px; top: 4.80px; position: absolute; background: white"></div>
                <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
            </div>
            <div style="width: 27px; height: 20px; left: 371.25px; top: 139px; position: absolute">
                <div style="width: 16.20px; height: 12px; left: 5.40px; top: 4px; position: absolute; background: white"></div>
                <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
            </div>
            <div style="width: 15%; height: 42px; left: 82%; top: 104px; position: absolute; background: #E91F23; border-radius: 20px"></div>
            <div style="left: 1260px; top: 115px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">veillez vous inscrire</div>
            <div style="width: 129.60px; height: 15px; left: 635.85px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Acceuil</div>
            <div style="width: 126.90px; height: 25px; left: 638.55px; top: 73px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">regime</div>
            <div style="width: 282.15px; height: 15px; left: 638.55px; top: 112px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Qui Somme Nous</div>
            <div style="left: 1019.25px; top: 110px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact</div>
            <div style="left: 1019.25px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Blog</div>
            <div style="left: 1019.25px; top: 69px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Service</div>
            <div style="left: 144.45px; top: 15px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">About us</div>
            <div style="width: 425.25px; left: 110.70px; top: 67px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 300; word-wrap: break-word">Votre aventure fitness commence aujourd'hui avec. Fit-Together</div>
        </div>
    </footer>
     