<!-- <p>authentification works!</p> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <title> </title>
    <link rel="stylesheet" href="authentification.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
<div class="container">
  <div class=" mt-5 tout-couleur">
    <div class="couleur"></div>
    <div class="couleurnoir"></div>
    <div class="formulairre">
      <!-- <div style="width: 1320.69px; height: 438.93px; left: 155.16px; top: 63.76px; position: absolute; background: white"></div> -->
      <img style="width: 706.52px; height: 438.93px; left: 6%; top: 18%; position: absolute" src="https://s3-alpha-sig.figma.com/img/a035/2ee8/14c241dcad7ab9ffd82d7e66429ebde2?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RkfiILE6CoorTraCGVxFXu4MBbQnva4bdgrKMbu3VUtxmshv7wDfrP7IWlJL71V3wd7huctEj3wUGnpM-UkgNGPhXtgSdsIjjLGtILxJQ0mgR6rtqOuIl3rqX2vg1xhuvQz3YRRnVNEL8Th4wR3VAOKbZdMWgdPqtj9il5EtwzdzWGM4qaq-k5WUvIFXiCK5u0xp-uJ5N7ZwDAdBDCVOs8BCGUOvFp4VpIJs3mF0DxI9iimBHMZRrQNInNzD8yFr6A0ylwoeeT8wy0Ca0tcBouR9o~kvyjlgm1O79N9sMvh~VsTwgQNzpNDoTjEhaDfg7U2xhCUGJSOhHS4tlvq7dQ__" />
      <div class="blanche">
          <div class="shadow-forme"></div>
          <div class="border-rouge"></div>
          <div class="bordure-envoyer"></div>
          <div class="envoyer">Se connecter</div>
          <div class="form">
              <div class="border-password"></div>
              <div class="password">Veuillez saisir votre Mot de passe</div>
              <div class="link">
                <a  href="#">si vous n'aviez pas de compte veuiller vous-inscrire</a>             

              </div>
              </div>
          </div>
          <div class="mail">Veuillez saisir votre mail</div>
      </div>
  </div>
    </div>
    </body>
</html>