<!-- <p>authentification works!</p> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <title> Page de contact</title>
    <link rel="stylesheet" href="authentification.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="content">
      <div class="image-box">
       <img src="https://img.freepik.com/free-photo/two-female-friends-fitness_624325-608.jpg?w=900&t=st=1706099177~exp=1706099777~hmac=92569406fbd9bb98cbeb3e364cfd158001b8ade6d7e1cb8a8bfffd5c354b9e25" alt="">
      </div>
    <form action="#">
      <div class="mb-3 col-6 input-box">
        <label for="formGroupExampleInput" class="form-label"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
      </div>
      <div class="mb-3 input-box">
        <label for="formGroupExampleInput" class="form-label"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Mot de passe">
      </div>
      <div>
        <a  href="">si vous n’avez pas de compte veillez vous inscrire</a>
        
      </div>
      <div class="input-box">
        <input type="submit" value="Se connectez">
      </div>
    </form>
  </div>
  </div>
</body>
</html>
