<!-- <p>page-regime works!</p> -->
<div class="card text-bg-dark">
    <img src="https://s3-alpha-sig.figma.com/img/0efd/dfc0/1b586c2420be4e198188ce89d226778a?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KXED7IJqyELVDWngc4iUutSXfanuBRI5TS~nlO9PEQvr-AVudPIBd9x6y5IUmvN2~NrHg5cGRI7yRNKUvsvxAw2eu322N5v6d~GjagzgivyAr~hbNF5VYgzw5L-hFkVIDX9swwLzxiPTLVSYNKongAlccBYZiXGoA8qKiu7gcXKUQhU8p0D~079fPNQNhnboAt0vJoaaXdYnu~XhFP3BpNlVEl0KVuRNDSywonpQOe3LM~m6x7RgYAx5BD5vplPpCWm8e5jcnSRl~kgZL~K9jqJR~N4juD~2LGR5MwP0oR~II3VenPSk8Rh6QWN~plrDJjKnGgdsN7IjaGPoRT5yKA__" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>
 



