<div style="width: 100%; height: 100%; position: relative; background: white">
  <img style="width: 100%; height: 287px; left: -3px; top: 79px; position: absolute" src="https://s3-alpha-sig.figma.com/img/353d/c6f3/c5f7c967cee767c55f74ef91a5f50afb?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=iRKg7oNz3SZIylmuE8LJPVkC2B52uMgXHiUUkRyxAObB0CMK0jvIyGGdrJxYbmGrUgJtT3fZNOuHhKzZ1B6RdSbGIOexSXS67ROjCnWc~K9HjnFKUf83uh37hYHOKjPJSiQrdo7qQswGtEFBMzx7iQOElKK4dPFO4b6hECoTAVQrAKiRSSfmpdBiBcvTG43wrbHL1iWCrmeQYfXXI6VfPi7nB~NzGR6OiXxYNtl2c5i1xwTePHvXj6w5AdwgdyqWGf-3HZiJgjFFzJDa73FtETXltNccCsH1-TSTPNl0nr9aOtVecUzfCxKJgyUhcZZtUMeCWXMga~apaDDZg22sJg__" />
  <div style="width: 100%; height: 183px; left: 0px; top: 1132px; position: absolute">
      <div style="width: 100%; height: 183px; left: 0px; top: 0px; position: absolute; background: black; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 100%; height: 183px; background: black"></div>
      </div>
      <div style="width: 240.30px; left: 80%; top: 48px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Newsletter</div>
      <div style="width: 27px; height: 20px; left: 263.25px; top: 139px; position: absolute">
          <div style="width: 16.20px; height: 12px; left: 5.40px; top: 4px; position: absolute; background: white"></div>
          <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
      </div>
      <div style="width: 27px; height: 20px; left: 317.25px; top: 139px; position: absolute">
          <div style="width: 16.20px; height: 10px; left: 5.40px; top: 4.80px; position: absolute; background: white"></div>
          <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
      </div>
      <div style="width: 27px; height: 20px; left: 371.25px; top: 139px; position: absolute">
          <div style="width: 16.20px; height: 12px; left: 5.40px; top: 4px; position: absolute; background: white"></div>
          <div style="width: 27px; height: 20px; left: 0px; top: 0px; position: absolute; background: rgba(102, 0, 255, 0); border-radius: 9999px; border: 1px white solid"></div>
      </div>
      <div style="width: 15%; height: 42px; left: 83%; top: 104px; position: absolute; background: #E91F23; border-radius: 20px"></div>
      <div style="left: 85%; top: 113px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">veillez vous inscrire</div>
      <div style="width: 129.60px; height: 15px; left: 635.85px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Acceuil</div>
      <div style="width: 126.90px; height: 25px; left: 638.55px; top: 73px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">regime</div>
      <div style="width: 282.15px; height: 15px; left: 638.55px; top: 112px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Qui Somme Nous</div>
      <div style="left: 1019.25px; top: 110px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact</div>
      <div style="left: 1019.25px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Blog</div>
      <div style="left: 1019.25px; top: 69px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Service</div>
      <div style="left: 144.45px; top: 15px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">About us</div>
      <div style="width: 425.25px; left: 110.70px; top: 67px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 300; word-wrap: break-word">Votre aventure fitness commence aujourd'hui avec. Fit-Together</div>
  </div>
     <div class="formulaire">
        <div style="width: 27%; height: 566.46px; left: -1%; top: 466px; position: absolute">
            <div style="width: 700px; height: 566.46px; left: 815.50px; top: 0px; position: absolute; background: #E91F23; border: 1px black solid"></div>
            <div style="width: 815.50px; height: 566.46px; left: 0px; top: 0px; position: absolute; background: #1B2728; border: 1px black solid"></div>
            <div style="width: 1320.69px; height: 438.93px; left: 155.16px; top: 63.76px; position: absolute; background: white"></div>
            <div style="width: 614.35px; height: 445.61px; left: 861.50px; top: 57.09px; position: absolute">
                <div style="width: 614.35px; height: 445.61px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25); border-radius: 20px"></div>
                <div style="width: 531.38px; height: 49.67px; left: 36.34px; top: 45.29px; position: absolute; background: white; border-radius: 20px; border: 1px #CE0033 solid"></div>
                <div style="width: 304px; height: 52px; left: 124.50px; top: 371.91px; position: absolute; background: black; border-radius: 20px; border: 1px #F9846C solid"></div>
                <div style="width: 152px; height: 29.43px; left: 221.50px; top: 380.91px; position: absolute; color: white; font-size: 36px; font-family: Source Sans Pro; font-weight: 700; line-height: 20px; word-wrap: break-word">Envoyer</div>
                <div style="width: 531.38px; height: 89.85px; left: 36.34px; top: 248.67px; position: absolute">
                    <div style="width: 531.38px; height: 89.85px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px #CE0033 solid"></div>
                    <div style="width: 129px; height: 29.43px; left: 26.16px; top: 17.68px; position: absolute; color: black; font-size: 32px; font-family: Source Sans Pro; font-weight: 300; line-height: 20px; word-wrap: break-word">Message</div>
                </div>
                <div style="width: 531.38px; height: 49.67px; left: 36.34px; top: 150.02px; position: absolute">
                    <div style="width: 531.38px; height: 49.67px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px #CE0033 solid"></div>
                    <div style="width: 58.18px; height: 29.66px; left: 25.72px; top: 7.34px; position: absolute; color: black; font-size: 32px; font-family: Source Sans Pro; font-weight: 300; line-height: 20px; word-wrap: break-word">mail</div>
                </div>
                <div style="width: 83px; height: 28.51px; left: 62.50px; top: 57.37px; position: absolute; color: black; font-size: 32px; font-family: Source Sans Pro; font-weight: 300; line-height: 20px; word-wrap: break-word">Nom</div>
            </div>
            <img style="width: 660px; height: 438.93px; left: 150.54px; top: 63.76px; position: absolute" src="https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        </div>
     </div>
     <div style="width: 100%; height: 79px; left: -20px; top: 0px; position: absolute">
        <div style="width: 100%; height: 79px; left: -20px; top: 0px; position: absolute; background: white"></div>
        <div style="width: 1000px; height: 50px; left: 29%; top: 14px; position: absolute">
            <button class="connnecter" [routerLink]="['/connecion']" routerLinkActive="router-link-active"  > Se connecter</button> 
            <div class="acceuil" [routerLink]="['/Acceuil']">Accueil</div>
            <div class="service" [routerLink]="['/Service']" routerLinkActive="router-link-active" >Service</div>
            <div class="propos" [routerLink]="['/propos']" routerLinkActive="router-link-active" >A propos</div>
            <div class="contact" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</div>
            <div class="regime" [routerLink]="['/Regime']" routerLinkActive="router-link-active" >regime</div>
        </div>
      </div>
</div>